<div class="dash-header">
    <div class="p-fluid">

    </div>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-8 p-md-8">

                <p-card>
                    <div class class="blog-form">

                        <div class="p-field p-grid">
                            <div class="p-col-10 p-md-10">
                                <h3>{{pageTitle}}</h3>
                            </div>
                            <div class="p-col-2 p-md-2">

                                <button pButton pRipple label="salva" class="p-button p-button-success p-mr-2"
                                    type="submit" [disabled]="!categoryForm.valid"></button>

                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" [style]="{ width: '100%' }" pInputText
                                        formControlName="category_name" placeholder="Name" required />
                                    <div *ngIf="category_name.invalid && (category_name.dirty || category_name.touched)"
                                        class="error">
                                        <div *ngIf="category_name.errors">
                                            Title is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Indirizzo <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" [style]="{ width: '100%' }" pInputText
                                        formControlName="category_address" placeholder="Indrizzo" required />

                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Provincia <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-10">
                                    <div class="p-fluid">
                                        <div class="p-field p-grid">

                                            <div class="p-col-12 p-md-12">

                                                <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true"
                                                    [required]="true" [showClear]="true" placeholder="Scegli"
                                                    [style]="{ width: '100%' }"
                                                    formControlName="category_region" optionLabel="nome"
                                                    optionValue="nome">
                                                    <ng-template let-option pTemplate="item">

                                                        {{option.nome}}

                                                    </ng-template>

                                                </p-dropdown>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-10">
                                    <p-editor formControlName="category_description" [style]="{'height':'320px'}">
                                    </p-editor>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                            </div>
                        </div>

                    </div>
                </p-card>
            </div>

            <div class="p-col-4 p-md-4">

                <p-card>
                fffddf
                </p-card>
            </div>
        </div>

    </div>
</form>