<div class="dash-header">
    <div class="dash-title">
    </div>
</div>



    
<div class="p-fluid">
    <div class="p-field p-grid">



      



        <div class="p-col-12 p-md-8">
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

            <p-card>
             
                <div class="blog-form">

                        <div class="p-field p-grid">
                            <div class="p-col-8 p-md-6">
                                <h3>{{pageTitle}}</h3>
                                
                            </div>
                            <div class="p-col-4 p-md-6">
       
                                <button pButton pRipple label="Salva" class="p-button p-button-success p-mr-2 pull-right"
                                [disabled]="!blogForm.valid"></button>
                           
                            </div>
                        </div>
                        <hr class="full">

                        <p-tabView>
                            <p-tabPanel header="Informazioni">

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            
                                            <p-selectButton [options]="businessStateOptions" formControlName="is_featured" optionLabel="label" optionValue="value"></p-selectButton>

                                  
                                        </div>
                                    </div>
                                </div>
        
                                
                                
                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nome <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-5">
                                            <input type="text" pInputText placeholder="Nome"  formControlName="name"/>
                                        </div>
                                        <div class="p-col-12 p-md-5">

                                            <input type="text" pInputText placeholder="Cognome"  formControlName="surname"/>
                                        </div>
                                    </div>
                                </div>
        
                             
        
        
                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Data di nascita <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                         <p-inputMask mask="99/99/9999" [(ngModel)]="selectedDate" formControlName="date" placeholder="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>

                                           
        
                                        </div>
                                    </div>
                                </div>
        
        
                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune di nascita</label>
                                        <div class="p-col-12 p-md-10">
                                            <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true"
                                            [required]="true" [showClear]="true" placeholder="Scegli"
                                            [style]="{ width: '100%' }"
                                            formControlName="category_id" optionLabel="nome"
                                            optionValue="id">
                                            <ng-template let-option pTemplate="item">
                                                {{option.nome}}
                                            </ng-template>
                                        </p-dropdown>
                                        </div>
                                    </div>
                                </div>
        
                                <hr class="full">

                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Indirizzo <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText formControlName="address"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>
                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">CAP <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-3">

                                            <input type="text" pInputText formControlName="zip" />
                                        </div>
                                            <div class="p-col-12 p-md-9">

                                            <input type="text" pInputText  formControlName="city"/>
                                    </div>
                                    </div>
        
                                        </div>
                                    </div>
                                </div>

                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune</label>
                                    <div class="p-col-12 p-md-10">
                                        <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true" [required]="true" [showClear]="true"
                                            placeholder="Scegli" [style]="{ width: '100%' }" formControlName="province" optionLabel="nome"
                                            optionValue="nome">
                                            <ng-template let-option pTemplate="item">
                                                {{option.nome}}
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
        
                                

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText  formControlName="email"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">
                                
                                    <div class="p-field p-grid">
                                        <label *ngIf="is_featured" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Partita Iva</label>
                                        <label *ngIf="!is_featured" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Codice Fiscale </label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" *ngIf="is_featured" placeholder="Codice Fiscale" pInputText formControlName="fiscalcode" />
                                            <input type="text" *ngIf="!is_featured" placeholder="Partita Iva" pInputText formControlName="fiscalnumber" />

                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cellulare <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText  formControlName="phone"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>

                                
                                <hr class="full">

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Attivo <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                            <p-selectButton [options]="stateOptions" formControlName="is_active" optionLabel="label" optionValue="value"></p-selectButton>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>

                            <p-tabPanel header="Note">
                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <div class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                        <label class="">Description <span
                                                class="required">*</span></label>
                                                </div>
                                    <div class="p-col-12 p-md-10">

                                    <textarea [rows]="5" [cols]="30" formControlName="description" pInputTextarea [style]="{'height':'160px', 'width':'100%'}" ></textarea>

                                    </div>
                                    </div>
                                </div>
                            </p-tabPanel>


                            


                            <p-tabPanel header="Allegati">
                             
                        

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
            
                                        <div class="p-col-12 p-md-12">
                                            <div class="button_outer">
                                            <div class="btn_upload">
                                            <input #myInput type="file" id="image" (change)="onSelectedFile($event)" />
                                            Carica Immagine
            
                                            </div>
                                        </div>
                                            <div [innerHTML]="uploadError" class="error"></div>
                                            <div *ngIf="imagePath">
                                                <br />
                                                <span class="image-container">
                                                    <img [src]="imagePath" *ngIf="imagePath" width="300px">
            
                                                    <button pButton pRipple icon="pi pi-trash"
                                                        class="imgcancel p-button p-button-primary p-mr-2"
                                                        (click)="removeImageFile($event)"></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                       
             
                    </p-tabPanel>
             

             
                </p-tabView>

                       

                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                            </div>
                        </div>
                  
                       

                </div>
            </p-card>

       

            </form>
        </div>


        <div class="p-col-12 p-md-4">

            <p-card>
                <p-tabView>

                    <p-tabPanel header="Elenco Tasks">
                <p-timeline [value]="tasks">
        
                    <ng-template pTemplate="content" let-task>

                       
                        <p-card>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-12">  

                        <strong>{{task.title}}</strong><br>
                        <p>{{task.description}}</p>
                                    <br>

                                    <p-tag class="p-mr-2">{{task.created_at | date:"dd/MM/yy"}}</p-tag> 

                        <button pButton pRipple label="modifica" class="p-button p-button-small p-button-success p-mr-2" [routerLink]="['/admin/task/', task.project_id]"></button>
                        <button pButton pRipple label="visualizza" class="p-button p-button-small p-button-primary p-mr-2" (click)="viewItem(task)"></button>

                                </div>
                    
                            </div>
                    </p-card>
                    </ng-template>
                </p-timeline>
                    </p-tabPanel>
                </p-tabView>
              
            </p-card>
        </div>
    </div>
</div>


<p-sidebar [(visible)]="productDialogView" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">
       


        <h4>{{task.title}}</h4>
        {{task.description}}
        <hr class="full">

    </ng-template>

</p-sidebar>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<p-toast key="myKey1"></p-toast>
