<app-topnav></app-topnav>


<div class="top-main-wrapper">

    <div class="dash-header">
        <div class="dash-title">

            <div class="p-field p-grid" *ngIf="project">
                <div class="p-col-12 p-md-6">
                    <h3>Dettaglio Progetto</h3>

                </div>
                <div class="p-col-12 p-md-6">

                    <button type="button" pButton pRipple label="tasks" icon="pi pi-clone"
                        class="p-button p-button-primary pull-right  p-mr-2"
                        [routerLink]="['/admin/projects/task/', project.id]"></button>

                    <button type="button" pButton pRipple label="Timesheets" icon="pi pi-clone"
                        class="p-button p-button-primary pull-right  p-mr-2"
                        [routerLink]="['/admin/projects/timesheets/', project.id]"></button>

                    <button type="button" pButton pRipple  label=" {{ 'go-back' | translate }}" 
                        class="p-button p-button-back pull-right  p-mr-2"
                        [routerLink]="['/admin/projects/']"></button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-inner">

    <div class="p-fluid">

        <div class="p-field p-grid">

            <div class="p-col-12 p-md-7">
                <p-card class="blu-box" *ngIf="project">

                    <h3>{{project.title}} / {{project.code_int}}</h3>
                    <label class="legend">{{project.date_from}} - {{project.date_to}}</label>
                </p-card>
                <p-card>
                    <p-tabView class="responsive-tab-view">
                        <p-tabPanel header="Produttività / Progetto">

                            <div class="table-responsive">
                                <table class="billings-list">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Prezzo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Importo pianificato</td>
                                            <td>{{price | currency :'EUR':'symbol':'1.2-2'}}</td>

                                        </tr>
                                        <tr>
                                            <td>Gia consumato</td>
                                            <td>{{getTotal() | currency :'EUR':'symbol':'1.2-2'}}</td>

                                        </tr>

                                        <tr>
                                            <td><strong>Importo Rimanente</strong></td>
                                            <td><strong>{{price - getTotal() | currency :'EUR':'symbol':'1.2-2'}}</strong>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </p-card>

                <p-card>
                    <p-tabView class="responsive-tab-view">
                        <p-tabPanel header="Timesheet / Progetto">
                            <div class="table-responsive">

                                <table class="billings-list" *ngIf="timesheetsEmployee.length > 0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Dipendente</th>
                                            <th>Prezzo/h</th>

                                            <th>Importo</th>
                                            <th>Ore</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let entry of timesheetsEmployee">
                                            <td width="50">
                                                <app-initials-avatar [routerLink]="['/admin/employees/edit/', entry.id]"
                                                    firstName="{{ getTechnicalDataItem(entry.id)?.name | slice:0:1}}"
                                                    lastName="{{ getTechnicalDataItem(entry.id)?.surname | slice:0:1}}">
                                                </app-initials-avatar>
                                            </td>
                                            <td>
                                                {{ getTechnicalDataItem(entry.id)?.username }}
                                            </td>
                                            <td>
                                                <p-tag
                                                    [value]="getTechnicalDataItem(entry.id)?.contract | currency :'EUR':'symbol':'1.2-2'">
                                                </p-tag>
                                            </td>
                                            <td>
                                                {{entry.value * getTechnicalDataItem(entry.id)?.contract | currency :'EUR':'symbol':'1.2-2'}}
                                            </td>
                                            <td><i class="pi pi-clock"></i> {{entry.value}}</td>

                                            <td width="120">
                                                <button type="button" pButton pRipple label="Timesheets"
                                                class="p-button p-button-primary pull-right  p-mr-2"
                                                [routerLink]="['/admin/employee/timesheets/', entry.id]"></button>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"> Totali</td>

                                            <td><strong>{{getTotal() | currency :'EUR':'symbol':'1.2-2'}}</strong></td>
                                            <td><strong><i class="pi pi-clock"></i> {{getTotalHours()}}</strong></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p-tabPanel>
                    </p-tabView>

                </p-card>

            </div>

            <div class="p-col-12 p-md-5">
                <div class="p-grid">
                    <div class="p-col-6 p-md-6">

                        <p-card class="progress-project">
                            <div class="number">{{getTotalHours()}}</div>
                            Ore lavorate
                        </p-card>
                    </div>

                    <div class="p-col-6 p-md-6">

                        <p-card class="complete-project"
                            [ngClass]="getTotalPercent() > 90 ? 'volumio' : getTotalPercent() > 50 ? 'orange' : 'green' ">
                            <div class="number">{{getTotalPercent()}}%</div>
                            Importo Consumato

                        </p-card>
                    </div>
                </div>

                <p-card>
                    <p-tabView>
                        <p-tabPanel header="Produttività / Ore">
                            <canvas id="myChart" width="600" height="350" #mychart></canvas>
                        </p-tabPanel>
                    </p-tabView>

                </p-card>

            </div>

        </div>

    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si"
            (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>

<p-toast key="myKey1"></p-toast>