<div class="dash-header">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-12 p-md-10">
                <div class="dash-title">

                    <h3>{{title}}</h3>
                </div>
            </div>


        </div>
    </div>
</div>



<p-table #dt1 [value]="blogs" [globalFilterFields]="['title','status']" [paginator]="true" [rows]="6" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [totalRecords]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/blogs/create']" label="Add Post" class="p-button p-button-danger p-mr-2"></button> <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>#ID</th>
            <th>Category</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-blog>
        <tr>
            <td>{{blog.id}}</td>
            <td>{{ getSecondArrayItem(blog.category_id)?.name }}</td>
            <td>{{blog.title}}</td>

            <td>{{blog.date}}</td>
            <td class="action">
                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/blogs/edit', blog.id]"></button>
                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2" (click)="editProduct(blog)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2" (click)="onDelete(blog.id)"></button>


            </td>
        </tr>
    </ng-template>
</p-table>




<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'30em'}">
    <ng-template pTemplate="content">
        {{blog.id}}
        <h3>{{blog.title}}</h3>
        <hr>
        <p [innerHTML]="blog.description"></p>
        <hr>
        <img src="{{blog.image}}" width="100px">
        <p>{{blog.category_id}}</p>
        <p>{{blog.is_featured}}</p>
        <p>{{blog.is_active}}</p>

    </ng-template>


</p-sidebar>



{{error}}


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>