<p-sidebar [(visible)]="filterSidebar" #op position="right">
    <ng-template pTemplate>
        <div class="p-field p-grid">
            <div class="p-col-12">
                <p-calendar [(ngModel)]="nameFilter" [style]="{ width: '100%' }" placeholder="Data da" dateFormat="yy-mm-dd" dataType="string" inputId="dateformat"></p-calendar>
            </div>
        </div>
        <div class="p-field p-grid">
            <div class="p-col-12">
                <p-calendar [(ngModel)]="descriptionFilter" [style]="{ width: '100%' }" placeholder="Data a" dateFormat="yy-mm-dd" dataType="string" inputId="dateformat"></p-calendar>
            </div>
        </div>

          <div class="p-field p-grid">
            <div class="p-col-6">
                <button pButton type="reset" class="p-button p-button-secondary btn-block"
                label="annulla" (click)="reset()">
            </button>
            </div>

            <div class="p-col-6">
                <button pButton type="submit" class="p-button p-button-primary btn-block"
                label="cerca" (click)="load()">
            </button>
            </div>

        </div>
    </ng-template>
</p-sidebar>

<app-topnav></app-topnav>

<div class="top-main-wrapper">


    <div class="dash-header">
        <div class="dash-title">
    
            <div class="p-field p-grid">
                <div class="p-col-10 p-md-6">
                    <h3>Documenti</h3>
                </div>
                <div class="p-col-2 p-md-6">
                   
                    <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/orders/create']" label=" {{ 'add' | translate }}" class="p-button p-button-primary pull-right"></button>
    
                    <button type="text" pButton label="Filter" icon="pi pi-filter"
                    class="p-button p-button-options p-mr-2 pull-right" (click)="filterSidebar = true"></button>
    
                 
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="main-inner">



<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-4">

            <p-card>
            
                <p-tree [value]="files" selectionMode="single" (onNodeSelect)="nodeSelect($event)"  [propagateSelectionUp]="false" [propagateSelectionDown]="false"  filter="true" [draggableNodes]="true" [droppableNodes]="true" draggableScope="self" droppableScope="self"></p-tree>

  

            </p-card>
        </div>

        <div class="p-col-12 p-md-8">

            <p-card>
                <div class="filter-options">

                    <div class="p-field p-grid">
                        <div class="p-col-12 p-md-6">
                           <span class="primary-color"><i class="pi pi-clone"></i></span>  {{nodeTitle}}
                        </div>
                     

                        <div class="p-col-12 p-md-6">
                          <span class="count-item pull-right">{{count}} Items</span>  
                        </div>
                    </div>
                </div>
                <div *ngFor=" let document of documents  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index"></div>

                <p-table #dt [value]="documents" [responsive]="false" [resizableColumns]="true" [autoLayout]="true" [paginator]="false">
                   
                    <ng-template pTemplate="header">
                        <tr>

                         
                            <th>Data emissione</th>

                            <th>Cliente</th>

                            <th>Prezzo</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-document>
                        <tr>
                            <td>{{document.id}}</td>

                            <td><strong>Fattura
                                {{document.number}}/{{document.date | date:'yyyy'}}</strong></td>
                            <td>
                            <p class="detail"><i class="pi pi-calendar"></i> {{document.date}}</p> 
                            </td>


                            <td>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                                            class="p-button p-button-success pull-right"
                                                            [routerLink]="['/admin/documents/edit', document.id]"></button>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>

                <div class="p-grid">

                    <div class="p-col-12 p-md-12">
                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                            (pageChange)="handlePageChange($event, document.id)">
                        </pagination-controls>
                    </div>
                </div>

            </p-card>
        </div>
        
    </div>
</div>
</div>
<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'60em'}">
    <ng-template pTemplate="content">
   
<div id="content" #content>

    <div class="p-col-12 p-md-12">
        <p-card>
            <app-initials-avatar class="pull-right"  [routerLink]="['/admin/clients/edit', order.client.id]" firstName="{{ order.client.name | slice:0:1}}" lastName="{{ order.client.surname | slice:0:1}}"></app-initials-avatar>

            <h3>Dettaglio Ordine {{order.id}}</h3>
            <p-tag severity="default" value="{{order.date}}"></p-tag>
            <hr class="full">

                <strong>{{ order.client.username }}</strong><br>
                {{ order.client.address }} - {{ order.client.zip }} {{ order.client.city }} <br>
                {{ order.client.phone }}

        </p-card>
<p-card>
       
    <table class="billings-list">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>qty</th>
                <th>Totale</th>

            </tr>
        </thead>
        <tr *ngFor="let entry of selectedSkills | keys">           
            <td>{{entry.value.description}}</td>  <td>{{entry.value.price}}</td> <td>{{entry.value.qty}}</td><td> {{entry.value.qty * entry.value.price | currency :'EUR':'symbol':'1.2-2'}}</td>
          </tr>
   
             <tr>
                                    <td colspan="3">
                                       Total senza Iva
                                    </td>

                                    <td>
                                       <h4>
                                            {{order.subtotal | currency :'EUR':'symbol':'1.2-2'}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        Valore Iva
                                    </td>
                                    <td>{{order.vat | currency :'EUR':'symbol':'1.2-2'}}</td>
                                </tr>

                                <tr>
                                    <td colspan="3">
                                        Totale
                                    </td>
                                    <td>
                                        <h3>
                                            {{order.total | currency :'EUR':'symbol':'1.2-2'}}</h3>
                                    </td>
                                </tr>
                        
        </table>
                                <button pButton pRipple icon="pi pi-pencil" label="modifica" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/billings/edit', order.id]"></button>
                            </p-card>
    </div>
</div>
    </ng-template>

</p-sidebar>



{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>

<p-toast key="myKey1"></p-toast>