<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">


    <div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-6">
                <h3>{{pageTitle}}</h3>
            </div>
            <div class="p-col-12 p-md-6">
                <button pButton pRipple label="Salva" class="p-button p-button-success p-mr-2 pull-right"></button>


            </div>
        </div>

    </div>
</div>




    
<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">

            <p-card>
             
                <div class="blog-form">

                        <p-tabView>
                            <p-tabPanel header="Informazioni">

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            
                                            <input type="radio" formControlName="is_featured" [(ngModel)]="is_featured" value="1" /> Business
                                            <input type="radio" formControlName="is_featured" [(ngModel)]="is_featured" value="0" /> Privato
                                        </div>
                                    </div>
                                </div>
        
                                
                                
                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nome Azienda<span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText  formControlName="name"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>
        
                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Regime Fiscale <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText formControlName="fiscaltype"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>
        
        
                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Data di nascita <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                         <p-inputMask mask="99/99/9999" [(ngModel)]="selectedDate" formControlName="date" placeholder="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>

                                           
        
                                        </div>
                                    </div>
                                </div>
        
        
                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune di nascita</label>
                                        <div class="p-col-12 p-md-10">
                                            <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true"
                                            [required]="true" [showClear]="true" placeholder="Scegli"
                                            [style]="{ width: '100%' }"
                                            formControlName="category_id" optionLabel="nome"
                                            optionValue="id">
                                            <ng-template let-option pTemplate="item">
                                                {{option.nome}}
                                            </ng-template>
                                        </p-dropdown>
                                        </div>
                                    </div>
                                </div>
        
                                <hr class="full">

                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Indirizzo <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText formControlName="address"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>
                                <div class="p-fluid">
        
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">CAP <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-3">

                                            <input type="text" pInputText formControlName="zip" />
                                        </div>
                                            <div class="p-col-12 p-md-9">

                                            <input type="text" pInputText  formControlName="city"/>
                                    </div>
                                    </div>
        
                                        </div>
                                    </div>
                                </div>

                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune</label>
                                    <div class="p-col-12 p-md-10">
                                        <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true" [required]="true" [showClear]="true"
                                            placeholder="Scegli" [style]="{ width: '100%' }" formControlName="province" optionLabel="nome"
                                            optionValue="nome">
                                            <ng-template let-option pTemplate="item">
                                                {{option.nome}}
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
        
                                

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText  formControlName="email"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">
                                
                                    <div class="p-field p-grid">
                                        <label *ngIf="is_featured === '1'" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Partita Iva</label>
                                        <label *ngIf="is_featured === '0'" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Codice Fiscale </label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" *ngIf="is_featured === '0'" placeholder="Codice Fiscale" pInputText formControlName="fiscalcode" />
                                            <input type="text" *ngIf="is_featured === '1'" placeholder="Partita Iva" pInputText formControlName="fiscalnumber" />

                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cellulare <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="text" pInputText  formControlName="phone"/>
        
                         
        
                                        </div>
                                    </div>
                                </div>

                                
                                <hr class="full">

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Attivo <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="radio" formControlName="is_active" value="1" /> Si
                                            <input type="radio" formControlName="is_active" value="0" /> No
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>

                            <p-tabPanel header="Note">
                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <div class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                        <label class="">Description <span
                                                class="required">*</span></label>
                                                </div>
                                    <div class="p-col-12 p-md-10">

                                    <textarea [rows]="5" [cols]="30" formControlName="description" pInputTextarea [style]="{'height':'160px', 'width':'100%'}" ></textarea>

                                    </div>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Logo">
                             
                        

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Upload Image <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-10">
                                    
                                    <input #myInput type="file" id="image" (change)="onSelectedFile($event)" />
                                    <div [innerHTML]="uploadError" class="error"></div>
                                    <div *ngIf="imagePath">
                                        <br />
                                        <span class="image-container" >
                                            <img [src]="imagePath" width="300px">

                                            <button pButton pRipple icon="pi pi-trash"
                                                class="imgcancel p-button p-button-primary p-mr-2"
                                                (click)="removeImageFile($event)"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
             
                    </p-tabPanel>
             
                </p-tabView>

                       

                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">


                            </div>
                        </div>
                  
                       

                </div>
            </p-card>

           
        </div>

    </div>
</div></form>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>


<p-toast key="myKey1"></p-toast>
