<p-sidebar [(visible)]="filterSidebar" #op position="right">
    <ng-template pTemplate>
        <div class="p-col-12">

            <div class="p-field p-grid">
                <div class="p-col-12">
                    <p-calendar [(ngModel)]="nameFilter" [style]="{ width: '100%' }" placeholder="Data da" dateFormat="yy-mm-dd" dataType="string" inputId="dateformat"></p-calendar>
                </div>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <p-calendar [(ngModel)]="descriptionFilter" [style]="{ width: '100%' }" placeholder="Data a" dateFormat="yy-mm-dd" dataType="string" inputId="dateformat"></p-calendar>
                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-12">
            <p-dropdown [options]="timesheetsType" [virtualScroll]="true" filter="true"
            [showClear]="true" placeholder="Tipo" [(ngModel)]="typeFilter" [style]="{ width: '100%' }"
            optionLabel="label" optionValue="value">

            </p-dropdown>


                </div>
            </div>


            <div class="p-field p-grid">
                <div class="p-col-12">
            <p-dropdown [options]="employees" [virtualScroll]="true" filter="true"
            [showClear]="true" placeholder="Dipendente" [(ngModel)]="employeeFilter" [style]="{ width: '100%' }"
            optionLabel="username" optionValue="id">

            </p-dropdown>


                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-12">
            <p-dropdown [options]="projects" [virtualScroll]="true" filter="true"
            [showClear]="true" placeholder="Progetti" [(ngModel)]="projectFilter" [style]="{ width: '100%' }"
            optionLabel="title" optionValue="id">

            </p-dropdown>


                </div>
            </div>


            <div class="p-field p-grid">
                <div class="p-col-12">
                    <button pButton type="submit" icon="pi pi-search" class="p-button p-button-primary btn-block"
                        label="cerca" (click)="load()">
                    </button>
                </div>
            </div>
            <div class="p-field p-grid">
    
                <div class="p-col-12">
                    <button pButton type="reset" icon="pi pi-times" class="p-button p-button-secondary btn-block"
                        label="reset" (click)="reset()">
                    </button>
                </div>
            </div>
    
        </div>

    </ng-template>
</p-sidebar>
<app-topnav></app-topnav>

<div class="top-main-wrapper">

    <div class="dash-header">
        <div class="dash-title">

            <div class="p-field p-grid">
                <div class="p-col-12 p-md-6">
                    <h3>Timesheets</h3>

                </div>
                <div class="p-col-12 p-md-6">

                    <button pButton pRipple icon="pi pi-plus" (click)="createTimesheets()" label="Aggiungi"
                        class="p-button p-button-primary p-mr-2 pull-right"></button>

                    <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta" (click)="exportPdf()"
                        class="p-button-options p-mr-2 pull-right" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta XLS"
                        (click)="exportExcel()" class="p-button-options p-mr-2 pull-right"
                        tooltipPosition="bottom"></button>

                    <button type="text" pButton label="Filter" icon="pi pi-filter"
                        class="p-button p-button-options p-mr-2 pull-right" (click)="filterSidebar = true"></button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-inner">

    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">

            <div class="p-fluid">
                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <p-card>

                            <div class="filter-options">

                                <div class="p-field p-grid">

                                    <div class="p-col-12 p-md-8">
                                        <div class="item-size pull-left">
                                            <span class="filter-tag" *ngIf="nameFilter">{{nameFilter}} <span
                                                    class="close"><i class="pi pi-times" (click)="reset()"></i></span>
                                            </span>
                                            <span class="filter-tag" *ngIf="descriptionFilter">{{descriptionFilter}}
                                                <span class="close"><i class="pi pi-times" (click)="reset()"></i></span>
                                            </span>

                                            <span class="filter-tag" *ngIf="employeeFilter">{{employeeFilter}}
                                                <span class="close"><i class="pi pi-times" (click)="reset()"></i></span>
                                            </span>

                                            <span class="filter-tag" *ngIf="typeFilter">{{typeFilter}}
                                                <span class="close"><i class="pi pi-times" (click)="reset()"></i></span>
                                            </span>
                                            <span class="filter-tag" *ngIf="projectFilter">{{projectFilter}}
                                                <span class="close"><i class="pi pi-times" (click)="reset()"></i></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-col-12 p-md-4">
                                        <span class="count-item pull-right">{{count}} Items</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor=" let timesheet of timesheets  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index"></div>

                            <p-table #dt [columns]="cols" [responsive]="false" [resizableColumns]="true" [autoLayout]="true" [value]="timesheets"
                                [paginator]="false" [rows]="15" [showCurrentPageReport]="true"
                                [totalRecords]="totalRecords">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th width="80">
                                            Tipo
                                        </th>

                                        <th width="100">
                                            Ore
                                        </th>
                                        <th>
                                            Entrata
                                        </th>
                                        <th>
                                            Uscita
                                        </th>
                                        <th width="50">

                                        </th>
                                        <th>
                                            Dipendente
                                        </th>
                                        <th>
                                            Progetto
                                        </th>
                                        <th width="100"></th>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-timesheet>
                                    <tr>

                                        <td>
                                            <p-tag severity="info" *ngIf="timesheet.timesheets_type == '1'"
                                                value="Lavoro">
                                            </p-tag>
                                            <p-tag severity="success" *ngIf="timesheet.timesheets_type == '2'"
                                                value="Ferie"></p-tag>
                                            <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '3'"
                                                value="Permesso"></p-tag>
                                            <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '4'"
                                                value="Straordinari"></p-tag>
                                            <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '4'"
                                                value="Altro"></p-tag>

                                        </td>
                                        <td>

                                            <p-tag severity="default" [value]="timesheet.hours + ' ore'"></p-tag>

                                        </td>

                                        <td>
                                            <i class="pi pi-calendar"></i>
                                            {{timesheet.date_from}}

                                        </td>

                                        <td><i class="pi pi-calendar"></i>
                                            {{timesheet.date_to}}
                                        </td>

                                        <td width="50">
                                            <app-initials-avatar
                                                [routerLink]="['/admin/employees/edit', timesheet.employee_id]"
                                                firstName="{{ getEmployeeItem(timesheet.employee_id)?.name | slice:0:1}}"
                                                lastName="{{ getEmployeeItem(timesheet.employee_id)?.surname | slice:0:1}}">
                                            </app-initials-avatar>
                                        </td>

                                        <td> {{ timesheet.employee.username }}</td>
                                        <td> <a [routerLink]="['/admin/projects/productivity/', timesheet.project.id]">{{timesheet.project.title }}</a></td>

                                        <td class="action">

                                            <button pButton pRipple icon="pi pi-pencil"
                                                class="p-button p-button-success p-mr-2"
                                                (click)="editItem(timesheet)"></button>

                                            <button pButton pRipple icon="pi pi-eye"
                                                class="p-button p-button-primary p-mr-2"
                                                (click)="view(timesheet)"></button>

                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="p-grid">

                                <div class="p-col-12 p-md-12">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                        (pageChange)="handlePageChange($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>

        <p-sidebar [(visible)]="productDialogAdd" position="right" [style]="{width:'400px'}">
            <ng-template pTemplate="content">
                <div class="p-col-12 p-md-12">

                    <h3>{{pageTitle}}</h3>
                    <hr class="full">
                    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Tipo</label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <p-dropdown [options]="timesheets_type" [virtualScroll]="true" filter="true"
                                    [required]="true" [showClear]="true" [autoDisplayFirst]=true
                                    [style]="{ width: '100%' }" [(ngModel)]="selectedTimesheetsType"
                                    formControlName="timesheets_type" optionLabel="label" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        {{option.label}}
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Dipendente</label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <p-dropdown [options]="employees" [virtualScroll]="true" filter="true" [required]="true"
                                    [showClear]="true" [autoDisplayFirst]=true [style]="{ width: '100%' }"
                                    [(ngModel)]="selectedEmployee" formControlName="employee_id" optionLabel="username"
                                    optionValue="id">
                                    <ng-template let-option pTemplate="item">
                                        {{option.username}}
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">
                                <label>Data dal<span class="required">*</span></label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <p-calendar [stepMinute]="15" formControlName="date_from" dataType="string"
                                    [(ngModel)]="selectedDateFrom" hourFormat="24" [style]="{width:'100%'}"
                                    dateFormat="yy-mm-dd" showTime="true" appendTo="body"></p-calendar>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Data al<span class="required">*</span></label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <p-calendar [stepMinute]="15" formControlName="date_to" dataType="string"
                                    [(ngModel)]="selectedDateTo" hourFormat="24" [style]="{width:'100%'}"
                                    dateFormat="yy-mm-dd" showTime="true" appendTo="body"></p-calendar>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Progetto</label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <p-dropdown [options]="projects" [virtualScroll]="true" filter="true" [required]="true"
                                    [showClear]="true" placeholder="Scegli" [style]="{ width: '100%' }"
                                    formControlName="project_id" optionLabel="title" optionValue="id">
                                    <ng-template let-option pTemplate="item">
                                        {{option.title}}
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Ore <span class="required">*</span></label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <input type="text" pInputText [style]="{width:'100%'}" formControlName="hours" />

                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">

                                <label>Ore extra <span class="required">*</span></label>
                            </div>
                            <div class="p-col-12 p-md-12">
                                <input type="text" pInputText [style]="{width:'100%'}" formControlName="hours_extra" />

                            </div>
                        </div>

                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                            </div>
                        </div>

                        <div class="p-field p-grid">

                            <div class="p-col-12 p-md-12">

                                <button pButton pRipple icon="pi pi-save" label="salva"
                                    class="p-button p-button-success btn-block" [disabled]="!blogForm.valid"></button>
                            </div>
                        </div>

                    </form>
                </div>
            </ng-template>
        </p-sidebar>

        <p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'400px'}">
            <ng-template pTemplate="content">
                <div class="p-col-12 p-md-12">
                    <p-tag [value]="timesheet.id"></p-tag><br><br>
                    <h3>Dettaglio Timesheet</h3>
                    <div class="well">
                        <p><strong>{{ getEmployeeItem(timesheet.employee_id)?.username }}</strong><br>
                            {{timesheet.created_at | date:'d-MM-yyyy' }} | {{timesheet.created_at | date:'hh:mm' }}</p>
                    </div>
                    <hr class="full">
                    <div class="p-grid">
                        <div class="p-col-12">
                            Entrata
                        </div>
                        <div class="p-col-12">

                            <button pButton pRipple [label]="timesheet.date_from | date:'d-MM-yyyy hh:mm'"
                                class="p-button p-button-primary btn-block"></button>
                        </div>
                    </div><br>
                    <div class="p-grid">
                        <div class="p-col-12">
                            Uscita
                        </div>
                        <div class="p-col-12">

                            <button pButton pRipple [label]="timesheet.date_to | date:'d-MM-yyyy hh:mm'"
                                class="p-button p-button-success btn-block"></button>
                        </div>
                    </div>

                    <br>
                    Cantiere<br>
                   
                    <button pButton pRipple  [routerLink]="['/admin/projects/productivity/', timesheet.project.id]" [label]="getProjectItem(timesheet.project_id)?.title"
                    class="p-button p-button-options btn-block"></button>
            </div>
            </ng-template>

        </p-sidebar>
        {{error}}

        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

            <p-footer>
                <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si"
                    (click)="cd.accept()"></button>
            </p-footer>

        </p-confirmDialog>