<div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-6">
                <h3>Progetti</h3>
            </div>
            <div class="p-col-12 p-md-6">

            </div>
        </div>
    </div>
</div>

<div class="p-field p-grid">
    <div class="p-col-12 p-md-12">

    <p-card>
        <div class="p-field p-grid">

    <div *ngFor="let col of boardData; let colIndex = index;" class="p-col-3"
    pDroppable="task" (onDrop)="onTaskDrop($event, colIndex)">
    
    <h4>{{col.heading}}</h4>
    
    <div class="drop-wrapper">
        <div class="drop-column">
    <div pDraggable="task" *ngFor="let task of col.tasks" class="product-item"
      (onDragStart)="onTaskDragStart($event,task, colIndex)">
 
            <div class="product-list-detail">
           <div class="icon">{{ task.value | slice: 0:1 }}</div>
           <h5>{{ task.value }}</h5>
           <div class="drag-me"></div>
      </div>
      <br />
    </div>
    </div></div></div></div></p-card></div></div>
    {{boardData.length}}

{{boardData | json}}

            <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>