$avatar-size: 36px;

.circle {
    background-color: green;
    border-radius: 50%;
    height: #{$avatar-size};
    text-align: center;
    width: #{$avatar-size};
    float: left;
}

.initials {
    font-size: 14px; // 50% of parent 
    font-family: Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT';
    line-height: 1;
    position: relative;
    top: calc(#{$avatar-size} / 4); // 25% of parent 
    color: white !important;
}