<div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-6">
                <h3 *ngIf="project">{{project.title}}</h3>
               <!-- <p-progressBar [value]="donePriorityTasks.length / (lowPriorityTasks.length + mediumPriorityTasks.length + highPriorityTasks.length + donePriorityTasks.length) * 100 | number: '1.0-0'"></p-progressBar>
-->
            </div>
            <div class="p-col-12 p-md-6">
                <button pButton class="p-button-primary pull-right" (click)="goToAddTaskPage()">Aggiungi
                    task</button>
                <button type="button" pButton class="p-button-secondary pull-right p-mr-2"  [routerLink]="['/admin/projects/edit/', project.id]">Modifica Progetto</button>

          
            </div>
        </div>
    </div>
</div>

<div class="p-field p-grid">
    <div class="p-col-12 p-md-12">

        <p-card>
            <div class="p-field p-grid" [ngBusy]="[busy, busy1, busy2]">



                <div class="p-col-3">
                    <div class="p-col-12">

                    <div class="p-grid">
                        <div class="p-col-9">
                            <h4>Da Fare</h4>
                        </div>
                        <div class="p-col-3">
                            <p-tag class="pull-right"  severity="warning" icon="pi pi-clone" [value]="lowPriorityTasks.length"></p-tag> 
                        </div>
                    </div>
                    </div>
                    <div class="drop-wrapper">
                        <div class="drop-column" cdkDropList #lowPriorityTasksList="cdkDropList"
                            [cdkDropListData]="lowPriorityTasks"
                            [cdkDropListConnectedTo]="[donePriorityTasksList, mediumPriorityTasksList, highPriorityTasksList]"
                            (cdkDropListDropped)="dropLowPriorityTasksList($event)">
                            <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                [tasks]="lowPriorityTasks" [borderColor]="'border-info'"></app-task-details>
                        </div>
                    </div>
                </div>

                <div class="p-col-3">
                    
                    <div class="p-col-12">

                        <div class="p-grid">
                            <div class="p-col-9">
                                <h4>25% Fatto</h4>
                            </div>
                            <div class="p-col-3">
                                <p-tag class="pull-right"  severity="warning" icon="pi pi-clone" [value]="mediumPriorityTasks.length"></p-tag> 
                            </div>
                        </div>
                        </div>
           
                    <div class="drop-wrapper">
                        <div class="drop-column" cdkDropList #mediumPriorityTasksList="cdkDropList"
                            [cdkDropListData]="mediumPriorityTasks"
                            [cdkDropListConnectedTo]="[donePriorityTasksList, highPriorityTasksList, lowPriorityTasksList]"
                            (cdkDropListDropped)="dropMediumPriorityTasksList($event)">
                            <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                [tasks]="mediumPriorityTasks" [borderColor]="'border-warning'"></app-task-details>
                        </div>
                    </div>
                </div>

                <div class="p-col-3"> 
                    
                    <div class="p-col-12">

                        <div class="p-grid">
                            <div class="p-col-9">
                                <h4>75% Fatto</h4>
                            </div>
                            <div class="p-col-3">
                                <p-tag class="pull-right"  severity="warning" icon="pi pi-clone" [value]="highPriorityTasks.length"></p-tag> 
                            </div>
                        </div>
                        </div>
   
                    <div class="drop-wrapper">
                        <div class="drop-column" cdkDropList #highPriorityTasksList="cdkDropList"
                            [cdkDropListData]="highPriorityTasks"
                            [cdkDropListConnectedTo]="[donePriorityTasksList, mediumPriorityTasksList, lowPriorityTasksList]"
                            (cdkDropListDropped)="dropHighPriorityTasksList($event, $id)">
                            <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)"  (viewItem)="viewItem($event)"
                                [tasks]="highPriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                        </div>
                    </div>
                </div>
                <div class="p-col-3">
                    <div class="p-col-12">

                        <div class="p-grid">
                            <div class="p-col-9">
                                <h4>Finito</h4>
                            </div>
                            <div class="p-col-3">
                                <p-tag class="pull-right" severity="success" icon="pi pi-clone" [value]="donePriorityTasks.length"></p-tag> 
                            </div>
                        </div>
                        </div>
               
                    <div class="drop-wrapper">
                        <div class="drop-column" cdkDropList #donePriorityTasksList="cdkDropList"
                            [cdkDropListData]="donePriorityTasks"
                            [cdkDropListConnectedTo]="[highPriorityTasksList, mediumPriorityTasksList, lowPriorityTasksList]"
                            (cdkDropListDropped)="dropDonePriorityTasksList($event, $id)">
                            <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                [tasks]="donePriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">

        <form [formGroup]="blogForm" (ngSubmit)="onSubmit(task)">

            <div class="p-fluid">

                <div class="p-field p-grid">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Titolo Task <span class="required">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <input type="text" [style]="{ width: '100%' }" pInputText formControlName="title">
                    </div>
                </div>



            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Priorità <span class="required">*</span></label>
                <div class="p-col-12 p-md-10">
                    <p-dropdown [options]="priorityList" placeholder="Scegli"
                        [style]="{ width: '100%' }" formControlName="priority" optionLabel="label"
                        optionValue="value">
                    </p-dropdown>
                </div>
            </div>

            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Descrizione Task <span class="required">*</span></label>
                <div class="p-col-12 p-md-10">

                    <textarea [rows]="5" [cols]="30" [style]="{ width: '100%' }" pInputTextarea formControlName="description"></textarea>


                </div>
            </div>


            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Employee <span class="required">*</span></label>
                <div class="p-col-12 p-md-10">
                    <p-dropdown [options]="clients" placeholder="Scegli"
                        [style]="{ width: '100%' }" formControlName="employee_id" optionLabel="username"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>


            <button pButton pRipple icon="pi pi-save" label="salva" class="p-button pull-right p-button-success p-mr-2"
                [disabled]="!blogForm.valid"></button>

            <div class="form-group form-row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                    <input type="hidden" formControlName="id">
                    <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">
                </div>
            </div>
            </div>
        </form>
    </ng-template>

</p-sidebar>

<p-sidebar [(visible)]="productDialogAdd" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">
        <form [formGroup]="blogForm" (ngSubmit)="onSubmitAdd()">

            <div class="p-fluid">

                <div class="p-field p-grid">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Titolo Task <span class="required">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <input type="text" [style]="{ width: '100%' }" pInputText formControlName="title">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Priorità <span class="required">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown [options]="priorityList" placeholder="Scegli"
                            [style]="{ width: '100%' }" formControlName="priority" optionLabel="label"
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Descrizione Task <span class="required">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <textarea [rows]="5" [cols]="30" [style]="{ width: '100%' }" pInputTextarea formControlName="description"></textarea>

                    </div>
                </div>



                <div class="p-field p-grid">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Dipendente</label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown [options]="clients" placeholder="Scegli"
                        [style]="{ width: '100%' }" formControlName="employee_id" optionLabel="username"
                        optionValue="id">
                    </p-dropdown>
                    </div>
                </div>

      

              

                        <button pButton pRipple icon="pi pi-save" label="salva"
                            class="p-button pull-right p-button-success p-mr-2" [disabled]="!blogForm.valid"></button>

                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                                
                            </div>
                        </div>

                    </div>
        </form>
    </ng-template>

</p-sidebar>




<p-sidebar [(visible)]="productDialogView" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">
       
        <app-initials-avatar firstName="{{ getEmployeeItem(task.employee_id)?.name | slice:0:1}}" lastName="{{ getEmployeeItem(task.employee_id)?.surname | slice:0:1}}"></app-initials-avatar>


        <h4>{{task.title}}</h4>
        {{task.description}}
        <hr class="full">
        {{ getEmployeeItem(task.employee_id)?.username }}

    </ng-template>

</p-sidebar>

<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-toast key="myKey1"></p-toast>



