<div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-6">
                <h3>Progetti</h3>
            </div>
            <div class="p-col-12 p-md-6">
                <button pButton class="p-button-primary" (click)="goToAddTaskPage()">Add
                    task</button>
            </div>
        </div>
    </div>
</div>

<div class="p-field p-grid">
    <div class="p-col-12 p-md-12">
      
        <p-card>
            <div class="p-field p-grid" [ngBusy]="[busy, busy1, busy2]">
                   
                      <div class="p-col-3">
                            <h4>Started</h4>
                            <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #lowPriorityTasksList="cdkDropList"
                                [cdkDropListData]="lowPriorityTasks"
                                [cdkDropListConnectedTo]="[mediumPriorityTasksList, highPriorityTasksList]"
                                (cdkDropListDropped)="dropLowPriorityTasksList($event)">
                                <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)"
                                    [tasks]="lowPriorityTasks" [borderColor]="'border-info'"></app-task-details>
                            </div>
                        </div>
                        </div>

                        <div class="p-col-3">
                            <h4>25% Done</h4>
                            <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #mediumPriorityTasksList="cdkDropList"
                                [cdkDropListData]="mediumPriorityTasks"
                                [cdkDropListConnectedTo]="[highPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropMediumPriorityTasksList($event)">
                                <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)"
                                    [tasks]="mediumPriorityTasks" [borderColor]="'border-warning'"></app-task-details>
                            </div>
                            </div>
                        </div>

                        <div class="p-col-3">
                            <h4>75% Done</h4>
                            <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #highPriorityTasksList="cdkDropList"
                                [cdkDropListData]="highPriorityTasks"
                                [cdkDropListConnectedTo]="[mediumPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropHighPriorityTasksList($event, $id)">
                                <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)"
                                    [tasks]="highPriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                            </div>
                        </div>
                        </div>
                        <div class="p-col-3">
                            <h4>Done</h4>
                            <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #highPriorityTasksList="cdkDropList"
                                [cdkDropListData]="highPriorityTasks"
                                [cdkDropListConnectedTo]="[mediumPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropHighPriorityTasksList($event, $id)">
                                <app-task-details (deleteItem)="deleteTask($event)" (editItem)="editItem($event)"
                                    [tasks]="highPriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                            </div>
                        </div>
                        </div>
            </div>
        </p-card>
    </div>
</div>


<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'60%'}">
    <ng-template pTemplate="content">

        <form [formGroup]="blogForm" (ngSubmit)="onSubmit(task)">



        <input type="text" [style]="{ width: '100%' }" pInputText
        formControlName="title"  (keyup)="changedNumber($event)">

        <button pButton pRipple icon="pi pi-save" label="salva"
        class="p-button pull-right p-button-success p-mr-2"
        [disabled]="!blogForm.valid"></button>

        <h3>{{task.title}}</h3>
        <p>{{task.priority}}</p>
        <p>{{task.description}}</p>

        <div class="form-group form-row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                {{currentUser.user_id}}
            </div>
        </div>

        
        </form>
    </ng-template>

</p-sidebar>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<p-toast key="myKey1"></p-toast>