
<div class="sidebar">
  <div class="openbtn" (click)="flag = !flag">
    <i class="pi pi-inbox"></i>
  </div>

  <ul class="user-menu">
    <li>
      <span title="{{utente?.username}}" class="profile-name">{{currentUser}}</span>
    </li>

    <li role="menuitem" class="logout">
      <strong><i class="pi pi-sign-in" [routerLink]="['/login']"></i></strong>
    </li>
  </ul>
</div>

<div class="sidebar-main"  id="mySidebar open" >
  {{currentUser}}
  <div class="title-wrapper">
    <h3 routerLink="/">CMS</h3>
  </div>

  <ul>
    <li><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    </li>
    <li><a routerLink="./blogs" routerLinkActive="active">Interventi</a></li>
    <li><a routerLink="./categories" routerLinkActive="active">Clienti</a></li>
    <li><a routerLink="./types" routerLinkActive="active">Configurazione</a></li>

    <li><a routerLink="./pages" routerLinkActive="active">Pages</a></li>
    <li><a [routerLink]="['/login']">Logout</a></li>
  </ul>
</div>



      <div class="main close">

          <router-outlet></router-outlet>
      </div>

 