<div class="top-main-wrapper">

    <div class="dash-header">
        <div class="dash-title">

            <div class="p-field p-grid">
                <div class="p-col-6 p-md-6">
                    <h3>Calendario Appuntamenti</h3>
                </div>
                <div class="p-col-6 p-md-6">
                   
                    <button pButton pRipple [routerLink]="['/admin/appointments']"
                    label="Torna indietro" class="p-button p-button-primary p-mr-2 pull-right"></button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="main-inner">

<div class="p-grid">


    <div class="p-col-12 p-md-12">
        <p-card>

            <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                    (eventClick)="eventClick($event.detail)"
                    (dayClick)="dayClick($event.detail)"
                    (eventRender)="eventRender($event.detail)">
                </ng-fullcalendar>
            </div>
        </p-card>
    </div>

  
</div>
</div>

<!-- <canvas id="myChart" width="600" height="350" #mychart></canvas> -->

<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'50%'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <strong> {{displayEvent.event.start | date:'dd/MM/yyyy HH:mm':'-0000'}}</strong>

                        <h3>{{displayEvent.event.title}}</h3>

                        {{ displayEvent.event.client.name }}
                        <br> {{ displayEvent.event.client.surname }}

                        <p [innerHTML]="displayEvent.event.description"></p>

                    </div>
                    <div class="p-col-12 p-md-6">
                        <div *ngFor="let item of displayEvent.event.works_id">
                            {{ getWorksItem(item)?.name }}
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div><br>
                <button pButton pRipple icon="pi pi-pencil" label="modifica Appuntamento"
                    class="p-button p-button-success p-mr-2"
                    [routerLink]="['/admin/appointments/edit', displayEvent.event.id]"></button>

            </p-card>
        </div>
        <div class="clearfix"></div><br>
        <div class="clearfix"></div>
        <div class="p-col-12 p-md-12">

            <p-card>
                <strong>{{ displayEvent.event.client.name }}
                    {{ displayEvent.event.client.surname }}</strong>

                <p>{{ displayEvent.event.client.address }}<br>
                    {{ displayEvent.event.client.zip }} -
                    {{ displayEvent.event.client.city }}
                    ({{ displayEvent.event.client.province }})<br>
                </p>
                <hr>
                <p>{{ displayEvent.event.client.phone }}<br>
                    {{ displayEvent.event.client.email }}</p>
                <div class="clearfix"></div>
                <div class="clearfix"></div><br>

                <button pButton pRipple icon="pi pi-pencil" label="Modifica Dati Cliente"
                    class="p-button p-button-primary p-mr-2"
                    [routerLink]="['/admin/clients/edit', displayEvent.event.category_id]"></button>
            </p-card>
        </div>

    </ng-template>

</p-sidebar>

<p-sidebar [(visible)]="appointmentsDialog" position="right" [style]="{width:'50%'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6">

                                <h3>{{appointment.title}}</h3>
                            </div>

                            <div class="p-col-12 p-md-6">

                                <p-tag [value]="appointment.date" class="p-mr-2 pull-right"></p-tag>
                                <p-tag [value]="appointment.time" severity="info" class="p-mr-2  pull-right"></p-tag>
                            </div>

                        </div>
                        <hr class="small">

                    </div>
                </div>
                <div class="p-grid">

                    <div class="p-col-12 p-md-6">

                        {{ appointment.client.name }}
                        <br> {{ appointment.client.surname }}

                        <p [innerHTML]="appointment.description"></p>

                    </div>
                    <div class="p-col-12 p-md-6">

                        <div *ngFor="let item of selectedWorks">
                            {{ getWorksItem(item)?.name }}
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div><br>

                <button pButton pRipple icon="pi pi-pencil" label="modifica Appuntamento"
                    class="p-button p-button-success p-mr-2"
                    [routerLink]="['/admin/appointments/edit', appointment.id]"></button>

            </p-card>
        </div>
        <div class="clearfix"></div><br>
        <div class="clearfix"></div>
        <div class="p-col-12 p-md-12">

            <p-card>
                <strong>{{ appointment.client.name }}
                    {{ appointment.client.surname }}</strong>

                <p>{{ appointment.client.address  }}<br>
                    {{ appointment.client.zip }} -
                    {{ appointment.client.city }}
                    ({{ appointment.client.province }})<br>
                </p>
                <hr>
                <p>{{ appointment.client.phone }}<br>
                    {{ appointment.client.email }}</p>
                <div class="clearfix"></div><br>

                <button pButton pRipple icon="pi pi-pencil" label="Modifica Dati Cliente"
                    class="p-button p-button-primary p-mr-2"
                    [routerLink]="['/admin/clients/edit', appointment.category_id]"></button>
            </p-card>
        </div>

    </ng-template>

</p-sidebar>