<p-sidebar [(visible)]="filterSidebar" #op position="right">
    <ng-template pTemplate>
        <div class="p-col-12">

            <div class="p-field p-grid">
                <div class="p-col-12">
    
                    <input type="text" [style]="{ width: '100%' }" pInputText [(ngModel)]="nameFilter" placeholder="Name" />
                </div>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <input type="text" [style]="{ width: '100%' }" pInputText [(ngModel)]="descriptionFilter"
                        placeholder="Descrizione" />
                </div>
            </div>
    
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <input type="text" [style]="{ width: '100%' }" pInputText [(ngModel)]="codeFilter"
                        placeholder="Codice" />
                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-12">
                    <input type="text" [style]="{ width: '100%' }" pInputText [(ngModel)]="codeIntFilter"
                        placeholder="Codice interno" />
                </div>
            </div>


            <div class="p-field p-grid">
                <div class="p-col-12">
            <p-dropdown [options]="brands" [virtualScroll]="true" filter="true"
            [showClear]="true" placeholder="Scegli" [(ngModel)]="brandFilter" [style]="{ width: '100%' }"
            optionLabel="name" optionValue="name">

            </p-dropdown>


                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-6">
                    <button pButton type="reset" class="p-button p-button-secondary btn-block"
                    label="annulla" (click)="reset()">
                </button>
                </div>
    
                <div class="p-col-6">
                    <button pButton type="submit" class="p-button p-button-primary btn-block"
                    label="cerca" (click)="load()">
                </button>
                </div>
    
            </div>
    
        </div>
        
    </ng-template>
</p-sidebar>

<!-- <div *ngFor="let col of cols" [ngSwitch]="col.field">

    <div class="tag" *ngIf="dt.filters[col.field]">{{dt.filters[col.field]? dt.filters[col.field].value : ''}}</div>
</div> -->

<app-topnav></app-topnav>

<div class="top-main-wrapper">

    <div class="dash-header">
        <div class="dash-title">
    
            <div class="p-field p-grid">
                <div class="p-col-6 p-md-6">
                    <h3>Prodotti</h3>
                </div>
                <div class="p-col-6 p-md-6">
                    <div class="p-grid">

                    <div class="p-col">

                        <div class="p-inputgroup pull-right">
                            <input type="text" [style]="{ width: '100%' }" pInputText [(ngModel)]="codeFilter"
                            placeholder="Barcode" #myinput (keyup)="load($event)" />
                            <button pButton type="reset" icon="pi pi-times" class="p-button-primary"
                            (click)="reset()">
                        </button>
                            <button pButton type="submit"  class="p-button-options"
                            label="cerca" (click)="load()"></button>     
                        </div>


                  
                        
                    </div>
       

                

                        <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta" (click)="exportPdf()"
                        class="p-button-options p-mr-2 pull-right"  tooltipPosition="bottom"></button> -->
                         <button type="text" pButton label="Filter" icon="pi pi-filter"
                        class="p-button p-button-options p-mr-2 pull-right" (click)="filterSidebar = true"></button>

                        <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/products/create']" label="Aggiungi"
                        class="p-button p-button-primary p-mr-4 pull-right"></button>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>

<div class="main-inner">



<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">
          
            <p-card>
                <div class="filter-options">

                    <div class="p-field p-grid">

                        <div class="p-col-12 p-md-8">
                            <div class="item-size pull-left">
                                <span class="filter-tag" *ngIf="nameFilter" >Nome: {{nameFilter}} <span class="close"><i class="pi pi-times"  (click)="reset()"></i></span> </span>
                                <span class="filter-tag" *ngIf="descriptionFilter">Descrizione: {{descriptionFilter}} <span class="close"><i class="pi pi-times" (click)="reset()"></i></span> </span>
                                <span class="filter-tag" *ngIf="codeFilter">Codice: {{codeFilter}} <span class="close"><i class="pi pi-times" (click)="reset()"></i></span> </span>
                                <span class="filter-tag" *ngIf="codeIntFilter">Codice Intì.: {{codeIntFilter}} <span class="close"><i class="pi pi-times" (click)="reset()"></i></span> </span>
                                <span class="filter-tag" *ngIf="brandFilter">Brand: {{brandFilter}} <span class="close"><i class="pi pi-times" (click)="reset()"></i></span> </span>

                            </div>
                        </div>

                        <div class="p-col-12 p-md-4">
                          <span class="count-item pull-right">{{count}} Items</span>  
                        </div>
                    </div>
                </div>

                <div *ngFor=" let product of products  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index"></div>


                <p-table #dt [columns]="cols" [value]="products" [responsive]="true"   [paginator]="false"
                    [rows]="10" [showCurrentPageReport]="true" [loading]="loading" [totalRecords]="totalRecords">

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th width="50px"></th>
                            <th width="350px">Titolo</th>
                            <th>Codice</th>
                            <th>Codice interno</th>
                            <th>Brand</th>
                            <th width="200"></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-product>
                        <tr>
                            <td *ngIf="product.image"><img [src]="rowData.image"
                                    [routerLink]="['/admin/products/edit', product.id]" class="img-responsive"></td>
                            <td>
                                {{product.title}}

                                
                            </td>
                            <td>
                                {{product.code}}
                            </td>
                            <td>
                                {{product.code_int}}
                            </td>

                            <td>
                                {{product.brand_id}}
                            </td>

                            <td class="action">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2"
                                    [routerLink]="['/admin/products/edit', product.id]"></button>
                                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2"
                                    (click)="edit(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2"
                                    (click)="onDelete(product.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="p-grid">

                    <div class="p-col-12 p-md-12">
                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                            (pageChange)="handlePageChange($event)">
                        </pagination-controls>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>
</div>
<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'60%'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-2">

                        <img [src]="product.image" class="img-responsive">
                    </div>
                    <div class="p-col">
                        <h3>{{product.title}}</h3>
                        <p>{{product.code}} | {{product.int}}</p>
                        <br>
                        <h4>{{product.price | currency :'EUR':'symbol':'1.2-2'}}</h4>
                        <hr class="small">
                        <p [innerHTML]="product.description"></p>
                    </div>

                </div>
       
            </p-card>
            <p-tabView>
          
                <p-tabPanel header="Variazioni">
                    <p-table #dt [columns]="colsVariations" [value]="productsVariations" [responsive]="true"  [globalFilterFields]="['name', 'description']"
                    currentPageReportTemplate="Visualizza {first} di {last} su {totalRecords} Items" [paginator]="true"
                    [rows]="10" [showCurrentPageReport]="true" [loading]="loading" [totalRecords]="totalRecords">

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th width="40px"></th>
                            <th width="70px"></th>
                            <th *ngFor="let col of colsVariations">
                                {{col.header}}
                            </th>
                            <th>Prezzo</th>
                            <th>Disponibilità</th>
                            <th width="50px"></th>

                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr  [ngClass]="rowData.is_active == 1 ? '' : 'red' ">
                            <td>  <p-tag value="Si" severity="success" *ngIf="rowData.is_active == 1"></p-tag>
                                <p-tag value="No" severity="danger" *ngIf="rowData.is_active == 0"></p-tag></td>
                                
                            <td *ngIf="rowData.image"><img [src]="rowData.image"
                                    [routerLink]="['/admin/products-variation/edit',rowData.product_id, rowData.id]" class="img-responsive"></td>
                            <td *ngFor="let col of colsVariations" [ngSwitch]="col.field">
                                {{rowData[col.field]}}

                                
                            </td>

                            <td>
                                {{rowData.price | currency :'EUR':'symbol':'1.2-2'}}
                             </td>
                            <td>
                               <p-tag severity="default" *ngIf="rowData.pieces > 0" [value]="rowData.pieces"></p-tag> 
                               <p-tag severity="default" *ngIf="rowData.pieces == 0 || ''" value="0"></p-tag> 
                               <p-tag severity="danger" *ngIf="rowData.pieces < 0" [value]="rowData.pieces"></p-tag> 
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2"
                                [routerLink]="['/admin/products-variation/edit',rowData.product_id, rowData.id]" ></button>
                            </td>
                         
                        </tr>
                    </ng-template>
                </p-table>

                </p-tabPanel>

                <p-tabPanel header="Date tecnici">
                    <table class="billings-list">
                        <tr *ngFor="let entry of selectedSkills | keys">
                            <td>
                                {{ getTechnicalDataItem(entry.value.qty)?.name }}</td>
                            <td>{{entry.value.price}}</td>
                        </tr>

                    </table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-template>

</p-sidebar>

{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>