<div class="dash-header">
  <div class="dash-title">
    <h1>{{title}}</h1>
  </div>
  <div class="dash-nav">
    <a [routerLink]="['/admin/categories/create']" class="btn btn-success">Add Post</a>
  </div>
</div>




<p-table [value]="categories" [paginator]="true" [rows]="6" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="header">
    <tr>
      <th>#ID</th>
      <th>Name</th>
        <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
      <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
        
          <td class="action">
            <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button p-button-success p-mr-2"
          [routerLink]="['/admin/categories/edit', category.id]"
        ></button>
       
      <button
      pButton
      pRipple
      icon="pi pi-trash"
      class="p-button p-button-danger p-mr-2"
      (click)="onDelete(category.id)"
    ></button>
         

          </td>
      </tr>
  </ng-template>
</p-table>





<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'30em'}">
  <ng-template pTemplate="content">
    {{blog.id}}
  <h3>{{blog.title}}</h3>
  <hr>
  <p [innerHTML]="blog.description"></p>
  <hr>
  <img src="{{blog.image}}" width="100px">
  <p>{{blog.category_id}}</p>
  <p>{{blog.is_featured}}</p>
  <p>{{blog.is_active}}</p>

  </ng-template>
  

</p-sidebar>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

{{error}}
