<app-topnav></app-topnav>

<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <div class="top-main-wrapper">
        <div class="dash-header">
            <div class="dash-title">

                <div class="p-field p-grid">
                    <div class="p-col-6 p-md-6">
                        <h3>{{pageTitle}}</h3>
                    </div>
                    <div class="p-col-6 p-md-6">

                        <button pButton pRipple icon="pi pi-save"  label=" {{ 'save' | translate }}" class="p-button p-button-success p-mr-2 pull-right"
                            [disabled]="!blogForm.valid"></button>

                        <button type="button" pButton pRipple icon="pi pi-chevron-left"  label=" {{ 'go-back' | translate }}" 
                            class="p-button p-button-back pull-right  p-mr-2"
                            [routerLink]="['/admin/clients/']"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="main-inner">

        <div class="p-fluid">
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-8">

                    <p-card>

                        <div class="blog-form">

                            <p-tabView class="responsive-tab-view">
                                <p-tabPanel header="Informazioni">

                                    <div class="p-fluid">
                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">

                                                <p-selectButton [options]="businessStateOptions"
                                                    formControlName="is_featured" optionLabel="label"
                                                    optionValue="value"></p-selectButton>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nome <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-5">
                                                <input type="text" pInputText placeholder="Nome"
                                                    formControlName="name" />
                                            </div>
                                            <div class="p-col-12 p-md-5">

                                                <input type="text" pInputText placeholder="Cognome"
                                                    formControlName="surname" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Data di nascita <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">
                                                <p-inputMask mask="99/99/9999" [(ngModel)]="selectedDate"
                                                    formControlName="date" placeholder="99/99/9999"
                                                    slotChar="dd/mm/yyyy"></p-inputMask>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-fluid">
                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune di nascita</label>
                                            <div class="p-col-12 p-md-10">
                                                <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true"
                                                    [required]="true" [showClear]="true" placeholder="Scegli"
                                                    [style]="{ width: '100%' }" formControlName="category_id"
                                                    optionLabel="nome" optionValue="id">
                                                    <ng-template let-option pTemplate="item">
                                                        {{option.nome}}
                                                    </ng-template>
                                                </p-dropdown>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="full">

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Indirizzo <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">
                                                <input type="text" pInputText formControlName="address" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">CAP <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-3">

                                                        <input type="text" pInputText formControlName="zip" />
                                                    </div>
                                                    <div class="p-col-12 p-md-9">

                                                        <input type="text" pInputText formControlName="city" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Comune</label>
                                        <div class="p-col-12 p-md-10">
                                            <p-dropdown [options]="comuni" [virtualScroll]="true" filter="true"
                                                [required]="true" [showClear]="true" placeholder="Scegli"
                                                [style]="{ width: '100%' }" formControlName="province"
                                                optionLabel="nome" optionValue="nome">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.nome}}
                                                </ng-template>
                                            </p-dropdown>
                                        </div>
                                    </div>

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">
                                                <input type="text" pInputText formControlName="email" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label *ngIf="is_featured" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Partita
                                                Iva</label>
                                            <label *ngIf="!is_featured" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Codice
                                                Fiscale </label>
                                            <div class="p-col-12 p-md-10">
                                                <input type="text" *ngIf="is_featured" placeholder="Codice Fiscale"
                                                    pInputText formControlName="fiscalcode" />
                                                <input type="text" *ngIf="!is_featured" placeholder="Partita Iva"
                                                    pInputText formControlName="fiscalnumber" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-fluid">

                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cellulare <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">
                                                <input type="text" pInputText formControlName="phone" />

                                            </div>
                                        </div>
                                    </div>

                                    <hr class="full">

                                    <div class="p-fluid">
                                        <div class="p-field p-grid">
                                            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Attivo <span
                                                    class="required">*</span></label>
                                            <div class="p-col-12 p-md-10">

                                                <p-selectButton [options]="stateOptions" formControlName="is_active"
                                                    optionLabel="label" optionValue="value"></p-selectButton>
                                            </div>
                                        </div>
                                    </div>
                                </p-tabPanel>

                                <p-tabPanel header="Note">
                                    <div class="p-fluid">
                                        <div class="p-field p-grid">
                                            <div class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                                <label class="">Description <span class="required">*</span></label>
                                            </div>
                                            <div class="p-col-12 p-md-10">

                                                <textarea [rows]="5" [cols]="30" formControlName="description"
                                                    pInputTextarea
                                                    [style]="{'height':'160px', 'width':'100%'}"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </p-tabPanel>

                                <p-tabPanel header="Dati aggiuntivi">
                                    <div class="form-group form-row">

                                        <button pButton pRipple icon="pi pi-plus" label="Aggiungi Dati technici"
                                            type="button" class="p-button pull-right p-button-success p-mr-2"
                                            (click)="addQuantity()"></button>

                                        <button pButton pRipple icon="pi pi-cog" label="Configura Dati aggiuntivi"
                                            class="p-button pull-left p-button-primary p-mr-2"
                                            routerLink="/admin/settings/personal-data"></button>
                                    </div>

                                    <table formArrayName="skills" style="width: 100%">

                                        <tr *ngFor="let quantity of skills.controls; let i=index" [formGroupName]="i">
                                            <td width="40%">

                                                <p-dropdown [options]="personal_datas" [virtualScroll]="true"
                                                    filter="true" [showClear]="true" placeholder="Scegli"
                                                    [style]="{ width: '100%' }" formControlName="qty" optionLabel="name"
                                                    optionValue="id">
                                                    <ng-template let-option pTemplate="item">

                                                        {{option.name}}

                                                    </ng-template>

                                                </p-dropdown>

                                            </td>
                                            <td>

                                                <input ttype="text" placeholder="Valore" [style]="{ width: '100%' }"
                                                    pInputText formControlName="price">
                                            </td>
                                            <td>
                                                <button pButton (click)="removeQuantity(i)" icon="pi pi-trash"
                                                    class="p-button p-button-danger p-mr-2"></button>
                                            </td>
                                        </tr>
                                    </table>

                                </p-tabPanel>

                                <p-tabPanel header="Elenco Fatture">

                                    <div *ngIf="!billings || hasNoSelectedBillings()">
                                        <p-message severity="info" text="Non ci sono Fatture"></p-message>
                                    </div>

                                    <p-timeline [value]="billings">

                                        <ng-template pTemplate="content" let-billing>

                                            <p-card>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-10">
                                                        <strong>Fattura
                                                            {{billing.number}}/{{billing.date | date:'yyyy'}}</strong><br>
                                                        <p class="detail"><i class="pi pi-calendar"></i>
                                                            {{billing.date}}</p>
                                                    </div>
                                                    <div class="p-col-12 p-md-2">
                                                        <button pButton pRipple type="button" icon="pi pi-pencil"
                                                            class="p-button p-button-success pull-right"
                                                            [routerLink]="['/admin/billings/edit', billing.id]"></button>

                                                    </div>
                                                </div>
                                            </p-card>
                                        </ng-template>
                                    </p-timeline>
                                </p-tabPanel>
                                <p-tabPanel header="Allegati">

                                    <div class="p-fluid">
                                        <div class="p-field p-grid">

                                            <div class="p-col-12 p-md-12">
                                                <div class="button_outer">
                                                    <div class="btn_upload">
                                                        <input #myInput type="file" id="image"
                                                            (change)="onSelectedFile($event)" />
                                                        Carica Immagine

                                                    </div>
                                                </div>
                                                <div [innerHTML]="uploadError" class="error"></div>
                                                <div *ngIf="imagePath">
                                                    <br />
                                                    <span class="image-container">
                                                        <img [src]="imagePath" *ngIf="imagePath" width="300px">

                                                        <button pButton pRipple icon="pi pi-trash"
                                                            class="imgcancel p-button p-button-primary p-mr-2"
                                                            (click)="removeImageFile($event)"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </p-tabPanel>

                            </p-tabView>

                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <input type="hidden" formControlName="id">
                                    <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                                </div>
                            </div>

                        </div>
                    </p-card>

                    <p-card *ngIf="deleteButton">

                        <button pButton pRipple label="Cancella Cliente"
                            [disabled]="appointments.length > 0 || billings.length > 0"
                            class="p-button p-button-danger p-mr-2" type="button" (click)="onDelete(id)"></button>
                        <p *ngIf="appointments.length > 0 || billings.length > 0"><br>Il cliente non puo essere
                            cancellato. Cancella prima appuntamenti e fatture</p>
                    </p-card>

                </div>

                <div class="p-col-12 p-md-4">
                    <p-card>
                        <p-tabView class="responsive-tab-view">

                            <p-tabPanel header="Elenco Appuntamenti">
                                <div class="blog-form">

                                    <div *ngIf="!appointments || hasNoSelectedAppointments()">
                                        <p-message severity="info" text="Non ci sono Appuntamenti"></p-message>
                                    </div>

                                    <p-timeline [value]="appointments">

                                        <ng-template pTemplate="content" let-appointment>

                                            <p-card>
                                                <div class="p-grid clearfix">
                                                    <div class="p-col-12 p-md-10">
                                                        <strong>{{appointment.title}}</strong><br>
                                                        <p class="detail"><i class="pi pi-calendar"></i>
                                                            {{appointment.date}}</p>

                                                    </div>

                                                    <div class="p-col-12 p-md-2">
                                                        <button pButton pRipple icon="pi pi-pencil"
                                                            class="p-button p-button-success pull-right"
                                                            [routerLink]="['/admin/appointments/edit', appointment.id]"></button>

                                                    </div>
                                                </div>

                                            </p-card>
                                        </ng-template>
                                    </p-timeline>

                                </div>

                            </p-tabPanel>

                        </p-tabView>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</form>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si"
            (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>

<p-toast key="myKey1"></p-toast>