
 <p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="p-col-12">
        
            <div class="p-field p-grid" *ngFor="let col of cols" [ngSwitch]="col.field">
                <div class="p-col-12">


                    <p-dropdown *ngSwitchCase="'project_id'" placeholder="Scegli" [showClear]="true" optionLabel="title"
                    optionValue="id" [options]="projects" [style]="{'width':'100%'}"
                    (onChange)="dt.filter($event.value, col.field, 'equals')">
                </p-dropdown>


                <p-dropdown *ngSwitchCase="'employee_id'" placeholder="Scegli" [showClear]="true" optionLabel="username"
                optionValue="id" [options]="employees" [style]="{'width':'100%'}"
                (onChange)="dt.filter($event.value, col.field, 'equals')">
            </p-dropdown>


              
             
                    <input *ngSwitchCase="'date_from'" [ngModel]="dt.filters['date_from']? dt.filters['date_from'].value : ''" 
                    placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }" (input)="dt.filter($event.target.value, col.field, 'contains')">
             


                    <input *ngSwitchCase="'date_to'" [ngModel]="dt.filters['date_to']? dt.filters['date_to'].value : ''" 
                    placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }" (input)="dt.filter($event.target.value, col.field, 'contains')">


                 

            </div>
                </div>

                <div class="p-grid">
                <div class="p-col-12">

                    <button pButton pRipple label="reset ricerca"
                    class="p-button p-button-primary btn-block"  (click)="dt.reset()" ></button>
                        </div>
                    </div>
            </div>
            

            
    </ng-template>
</p-overlayPanel> 

<div class="top-main-wrapper">

  
    <div class="dash-header">
        <div class="dash-title">
    
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-6">
                    <h3>Maggazzino / Ingresso</h3>         
    
                </div>
                <div class="p-col-12 p-md-6">
    
                    <button pButton pRipple icon="pi pi-plus" (click)="createTimesheets()" label="Aggiungi"
                        class="p-button p-button-primary p-mr-2 pull-right"></button>
                      
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-inner">

<div class="p-field p-grid">
    <div class="p-col-12 p-md-12">
      

<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">
      

            <p-card>
                <div class="filter-options">

                    <div class="p-field p-grid">
                        <div class="p-col-12 p-md-12">

                <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta" (click)="exportPdf()"
                class="p-button-options p-mr-2 pull-right" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta XLS" (click)="exportExcel()"
                class="p-button-options p-mr-2 pull-right" tooltipPosition="bottom"></button>


                <button type="text" pButton label="Filter"  icon="pi pi-filter" class="p-button p-button-options p-mr-2 pull-right" (click)="op.toggle($event)"></button>
                        </div>
                    </div>
                </div>
                
                <p-table #dt [columns]="cols" [responsive]="true"   [value]="warehouseCheckins" [globalFilterFields]="['name', 'description']"
                    currentPageReportTemplate="Visualizza {first} di {last} su {totalRecords} Items" [paginator]="true"
                    [rows]="15" [showCurrentPageReport]="true" [totalRecords]="totalRecords">

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th width="80">
                                id
                            </th>

                            <th width="150">
                                Pezzi
                            </th>

                            <th width="150">
                                Colli
                            </th>
                            <th>
                                Entrata
                            </th>
                       
                            <th>
                                Warehouse
                            </th>
                            <th>
                                Prodotti
                            </th>
                            <th width="150"></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-warehouseCheckin>
                        <tr>

                            <td>
                              {{warehouseCheckin.id}}

                            </td>
                            <td>

                                <p-tag severity="default" [value]="warehouseCheckin.pieces + ' pezzi'"></p-tag>

                            </td>
                            <td><p-tag severity="success" [value]="warehouseCheckin.boxes + ' colli'"></p-tag>
                            </td>
                            <td>
                               <i class="pi pi-calendar"></i> {{warehouseCheckin.created_at | date:'d-MM-yyyy hh:mm'}}

                            </td>

                  

                            <td>
                               <!-- {{ getWarehouseItem(warehouseCheckin.project_id)?.title }}-->

                                {{warehouseCheckin.warehouse_id.title}}</td>
                           <td>   {{ warehouseCheckin.product.title}}<br>
                            <p class="small">{{ warehouseCheckin.product.code_int}} - {{ warehouseCheckin.product.code}}</p> 
                            <p class="small" *ngIf="warehouseCheckin.supplier_id">{{ warehouseCheckin.supplier_id.company_name}}</p></td>
                       

                            <td class="action">
                        
                              <!--   <button pButton pRipple icon="pi pi-pencil"
                                class="p-button p-button-success p-mr-2"
                                (click)="editItem(warehouseCheckin)"></button> -->
                                
                                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2"
                                    (click)="view(warehouseCheckin)"></button>
          

                                    <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2"
                                    (click)="onDelete(warehouseCheckin.id)"></button>
                                
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-card>
        </div>
    </div>
</div>
    </div>

<p-sidebar [(visible)]="productDialogAdd" position="right" [style]="{width:'50vw'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">

            <h3>{{pageTitle}}</h3>
            <hr class="full">
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">
                        
                        <label>Tipo</label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-dropdown [options]="warehouses" [required]="true" [showClear]="true" placeholder="Scegli" [style]="{ width: '100%' }"
                            [(ngModel)]="selectedWarehouse" formControlName="warehouse_id" optionLabel="title"
                            optionValue="id">
                            <ng-template let-option pTemplate="item">
                                {{option.title}} <p-tag [value]="option.id"></p-tag>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">
                        
                        <label>Fornitore</label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-dropdown [options]="suppliers" [required]="true" [showClear]="true" placeholder="Scegli" [style]="{ width: '100%' }"
                            [(ngModel)]="selectedSupplier" formControlName="supplier_id" optionLabel="company_name"
                            optionValue="id">
                            <ng-template let-option pTemplate="item">
                                {{option.company_name}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

            

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Prodotto</label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-dropdown [options]="productsVariations" filterBy="title,code,code_int" [virtualScroll]="true" filter="true" [required]="true"
                            [showClear]="true" placeholder="Cerca per Codice, titolo, Codice interno" [style]="{ width: '100%' }"  [(ngModel)]="selectedProduct"
                            formControlName="product_id" optionLabel="title" optionValue="id">
                            <ng-template let-option pTemplate="item">
                                <div class="p-grid">
                                    <div class="p-col-3">
                                        {{option.title}} 
                                    </div>
                                    <div class="p-col-3">
                                        {{option.code}}
                                    </div>
                                    <div class="p-col-3">
                                        {{option.code_int}}
                                    </div>
                                </div>
                          
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-6">

                        <label>Pezzi <span class="required">*</span></label>
                    
                        <input type="text" pInputText [style]="{width:'100%'}" formControlName="pieces" />

                    </div>
               
                    <div class="p-col-12 p-md-6">

                        <label>Colli <span class="required">*</span></label>
                   
                        <input type="text" pInputText [style]="{width:'100%'}" formControlName="boxes" />

                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <input type="hidden" formControlName="id">
                        <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                    </div>
                </div>

                <div class="p-field p-grid">

                    <div class="p-col-12 p-md-12">

                        <button pButton pRipple icon="pi pi-save" label="salva"
                            class="p-button p-button-success btn-block" [disabled]="!blogForm.valid"></button>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'50vw'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-tag [value]="warehouseCheckin.id" severity="success" class="p-mr-2"></p-tag> <p-tag [value]="warehouseCheckin.created_at | date:'d-MM-yyyy hh:mm'"></p-tag><br><br>
            <h3>Dettaglio Ingresso Magazzino</h3>

            <hr class="full">
            <strong>Magazzino</strong><br>

            {{warehouseCheckin.warehouse_id.title}}<br>
            <hr class="full">

            <p class="small">Prodotto</p>

            <h3>{{ warehouseCheckin.product.title}}</h3>
           <p [innerHTML]="warehouseCheckin.product.description"></p><br>

             <p class="small">{{ warehouseCheckin.product.code_int}} - {{ warehouseCheckin.product.code}}</p>
            </div>
    </ng-template>

</p-sidebar>
{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>