<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="p-col-12">

            <div class="p-field p-grid" *ngFor="let col of cols" [ngSwitch]="col.field">
                <div class="p-col-12">

                    <p-dropdown *ngSwitchCase="'project_id'" placeholder="Scegli" [showClear]="true" optionLabel="title"
                        optionValue="id" [options]="projects" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')">
                    </p-dropdown>

                    <input *ngSwitchCase="'hours'" [ngModel]="dt.filters['hours']? dt.filters['hours'].value : ''"
                        placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'date_from'"
                        [ngModel]="dt.filters['date_from']? dt.filters['date_from'].value : ''"
                        placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'date_to'" [ngModel]="dt.filters['date_to']? dt.filters['date_to'].value : ''"
                        placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">

                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-12">

                    <button pButton pRipple label="reset ricerca" class="p-button p-button-primary btn-block"
                        (click)="dt.reset()"></button>
                </div>
            </div>
        </div>

    </ng-template>
</p-overlayPanel>

<div class="top-main-wrapper">
    <div class="dash-header">
        <div class="dash-title">

            <div class="p-field p-grid" *ngIf="employee">
                <div class="p-col-12 p-md-6">
                    <h3>Timesheet / {{employee.username}}</h3>

                </div>
                <div class="p-col-12 p-md-6">
                    <button pButton pRipple icon="pi pi-plus" (click)="createTimesheets()" label="Aggiungi"
                        class="p-button p-button-primary pull-right"></button>

                    <button type="button" pButton pRipple label="tasks" icon="pi pi-clone"
                        class="p-button p-button-warning pull-right  p-mr-2"
                        [routerLink]="['/admin/employee/task/', employee.id]"></button>

                    <button type="button" pButton pRipple label="modifica Dipendente" icon="pi pi-pencil"
                        class="p-button p-button-success pull-right  p-mr-2"
                        [routerLink]="['/admin/employees/edit/', employee.id]"></button>

                    <button type="button" pButton pRipple label="Torna indietro"
                        class="p-button p-button-secondary pull-right  p-mr-2"
                        [routerLink]="['/admin/employees/']"></button>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="main-inner">

    <p-card *ngIf="employee">

        <div class="p-grid">
            <div class="p-col">
                Numero Dipendente<br>
                <strong>{{employee.fiscalnumber}}</strong>
            </div>
            <div class="p-col">
                Indirizzo<br>

                <strong>{{employee.address}} - {{employee.city}}</strong>
            </div>

            <div class="p-col">
                <div class="p-field p-grid">
                    <div class="p-col">
                        Permessi Goduti<br>

                        <strong>{{permissionsCount}} </strong>
                    </div>
                    <div class="p-col">
                        Permessi Maturati<br>

                        <strong>{{employee.permissions}} </strong>
                    </div>
                </div>

            </div>
            <div class="p-col">
                <div class="p-field p-grid">
                    <div class="p-col">
                        Ferie Goduti<br>

                        <strong>{{vacationsCount}} </strong>
                    </div>
                    <div class="p-col">
                        Ferie Maturati<br>

                        <strong>{{employee.vacations}} </strong>
                    </div>
                </div>
            </div>
        </div>

    </p-card>

    <div class="p-fluid">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-12">
                <p-card>

                    <div class="filter-options">

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">
                                <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta"
                                (click)="exportPdf()" class="p-button-options p-mr-2 pull-right" 
                                tooltipPosition="bottom"></button>
                                <button type="text" pButton label="Filter" icon="pi pi-filter"
                                class="p-button p-button-options p-mr-2 pull-right"
                                (click)="op.toggle($event)"></button>

                               
                            </div>
                        </div></div>

                  

                    <p-table #dt [columns]="cols" [value]="timesheets" [globalFilterFields]="['name', 'description']"
                        currentPageReportTemplate="Visualizza {first} di {last} su {totalRecords} Items"
                        [paginator]="true" [rows]="15" [showCurrentPageReport]="true" [loading]="loading"
                        [totalRecords]="totalRecords">

                        <ng-template pTemplate="header" let-timesheet>
                            <tr>
                                <th width="80">
                                    Tipo
                                </th>

                                <th width="100">
                                    Ore
                                </th>
                                <th>
                                    Entrata
                                </th>
                                <th>
                                    Uscita
                                </th>

                                <th>
                                    Progetto
                                </th>

                                <th width="140">
                                    Data
                                </th>
                                <th width="200"></th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-timesheet>
                            <tr>
                                <td>
                                    <p-tag severity="info" *ngIf="timesheet.timesheets_type == '1'" value="Lavoro">
                                    </p-tag>
                                    <p-tag severity="success" *ngIf="timesheet.timesheets_type == '2'" value="Ferie">
                                    </p-tag>
                                    <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '3'" value="Permesso">
                                    </p-tag>
                                    <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '4'"
                                        value="Straordinari"></p-tag>
                                    <p-tag severity="warning" *ngIf="timesheet.timesheets_type == '4'" value="Altro">
                                    </p-tag>

                                </td>
                                <td>

                                    <p-tag severity="default" [value]="timesheet.hours + ' ore'"></p-tag>

                                </td>
                                <td>
                                    <i class="pi pi-calendar"></i> {{timesheet.date_from | date:'dd-MM-yyyy hh:mm'}}

                                </td>

                                <td><i class="pi pi-calendar"></i> {{timesheet.date_to | date:'dd-MM-yyyy hh:mm'}}
                                </td>

                                <td>

                                    {{ getProjectItem(timesheet.project_id)?.title }}

                                </td>

                                <td>
                                    <p-tag severity="default" [value]="timesheet.created_at | date:'dd-MM-yyyy'">
                                    </p-tag>

                                </td>
                                <td class="action">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2"
                                        (click)="editItem(timesheet)"></button>
                                    <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2"
                                        (click)="view(timesheet)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2"
                                        (click)="onDelete(timesheet.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                </p-card>
            </div>

        </div>
    </div>
</div>


<p-sidebar [(visible)]="productDialogAdd" position="right" [style]="{width:'400px'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">

            <h3>{{pageTitle}}</h3>
            <p>{{employee.name}} {{employee.surname}}</p>
            <hr class="full">
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Tipo</label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-dropdown [options]="timesheets_type" [virtualScroll]="true" filter="true" [required]="true"
                            [showClear]="true" [autoDisplayFirst]=true [style]="{ width: '100%' }"
                            [(ngModel)]="selectedTimesheetsType" formControlName="timesheets_type" optionLabel="label"
                            optionValue="value">
                            <ng-template let-option pTemplate="item">
                                {{option.label}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">
                        <label>Data dal<span class="required">*</span></label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-calendar [stepMinute]="15" formControlName="date_from" dataType="string"
                            [(ngModel)]="selectedDateFrom" hourFormat="24" [style]="{width:'100%'}"
                            dateFormat="yy-mm-dd" showTime="true" appendTo="body"></p-calendar>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Data al<span class="required">*</span></label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-calendar [stepMinute]="15" formControlName="date_to" dataType="string"
                            [(ngModel)]="selectedDateTo" hourFormat="24" [style]="{width:'100%'}" dateFormat="yy-mm-dd"
                            showTime="true" appendTo="body"></p-calendar>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Progetto</label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-dropdown [options]="projects" [virtualScroll]="true" filter="true" [required]="true"
                            [showClear]="true" placeholder="Scegli" [style]="{ width: '100%' }"
                            formControlName="project_id" optionLabel="title" optionValue="id">
                            <ng-template let-option pTemplate="item">
                                {{option.title}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Ore <span class="required">*</span></label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <input type="text" pInputText [style]="{width:'100%'}" formControlName="hours" />

                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-12">

                        <label>Ore extra <span class="required">*</span></label>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <input type="text" pInputText [style]="{width:'100%'}" formControlName="hours_extra" />

                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <input type="hidden" formControlName="id">
                        <input type="hidden" formControlName="employee_id" value="">
                        <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                    </div>
                </div>

                <div class="p-field p-grid">

                    <div class="p-col-12 p-md-12">

                        <button pButton pRipple icon="pi pi-save" label="salva"
                            class="p-button p-button-success btn-block" [disabled]="!blogForm.valid"></button>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'400px'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-tag [value]="timesheet.id"></p-tag>
            <h3>Dettaglio Timesheet</h3>
            <p>{{timesheet.created_at | date:'d-MM-yyyy' }} | {{timesheet.created_at | date:'hh:mm' }}</p>
            <hr class="full">
            <div class="p-grid">
                <div class="p-col-4">
                    Entrata
                </div>
                <div class="p-col-8">

                    <button pButton pRipple [label]="timesheet.date_from | date:'d-MM-yyyy hh:mm'"
                        class="p-button p-button-primary btn-block"></button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-4">
                    Uscita
                </div>
                <div class="p-col-8">

                    <button pButton pRipple [label]="timesheet.date_to | date:'d-MM-yyyy hh:mm'"
                        class="p-button p-button-success btn-block"></button>
                </div>
            </div>

        </div>
    </ng-template>

</p-sidebar>

{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si"
            (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>