<div class="dash-header">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-12 p-md-10">
                <div class="dash-title">

                    <h3>{{title}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>



<p-table #dt1 [value]="categories" [globalFilterFields]="['name','address','category.name']" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/categories/create']" label="Add Post" class="p-button p-button-danger p-mr-2"></button> <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Regione</th>

            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.address}}</td>
            <td>{{category.region}}</td>

            <td class="action">
                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/categories/edit', category.id]"></button>

                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2" (click)="onDelete(category.id)"></button>


            </td>
        </tr>
    </ng-template>
</p-table>





<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'30em'}">
    <ng-template pTemplate="content">
        {{blog.id}}
        <h3>{{blog.title}}</h3>
        <hr>
        <p [innerHTML]="blog.description"></p>
        <hr>
        <img src="{{blog.image}}" width="100px">
        <p>{{blog.category_id}}</p>
        <p>{{blog.is_featured}}</p>
        <p>{{blog.is_active}}</p>

    </ng-template>


</p-sidebar>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

{{error}}