<div class="dash-header">
    <div class="dash-title">

    <div class="p-field p-grid" *ngIf="employee">
        <div class="p-col-12 p-md-6">
            <h3>Tasks / {{employee.name}} {{employee.surname}}</h3>   
        </div>
        <div class="p-col-12 p-md-6">
            <button type="button" pButton pRipple label="Timesheets" icon="pi pi-clock" class="p-button p-button-warning pull-right  p-mr-2"
            [routerLink]="['/admin/employee/timesheets/', employee.id]"></button>


            <button type="button" pButton pRipple label="Torna indietro" class="p-button p-button-secondary pull-right  p-mr-2"
            [routerLink]="['/admin/employees/']"></button>


            
        </div>
    </div>



    <p-card *ngIf="employee">
        <div class="p-field p-grid">
            <div class="p-col-12 p-md-3">
                Numero Dipendente<br>
                <strong>{{employee.fiscalnumber}}</strong>
            </div>
            <div class="p-col-12 p-md-4">
                Indirizzo<br>

            <strong>{{employee.address}} - {{employee.city}}</strong>
            </div>
        </div></p-card>
</div>



    
<div class="p-fluid">
    <div class="p-field p-grid">



        

        <div class="p-col-12 p-md-12">  


            <p-card>
                <div class="p-field p-grid" [ngBusy]="[busy, busy1, busy2]">
    
    
    
                    <div class="p-col-12 p-md-3">
                        <div class="p-col-12">
    
                        <div class="p-grid">
                            <div class="p-col-9">
                                <h4>Da Fare</h4>
                            </div>
                            <div class="p-col-3">
                                <p-tag class="pull-right"  severity="warning" icon="pi pi-clone" [value]="lowPriorityTasks.length"></p-tag> 
                            </div>
                        </div>
                        </div>
                        <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #lowPriorityTasksList="cdkDropList"
                                [cdkDropListData]="lowPriorityTasks"
                                [cdkDropListConnectedTo]="[donePriorityTasksList, mediumPriorityTasksList, highPriorityTasksList]"
                                (cdkDropListDropped)="dropLowPriorityTasksList($event)">
                                <app-task-details (deleteItem)="deleteTask($event)" [edit]="false"  [cancel]="false"  (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                    [tasks]="lowPriorityTasks" [borderColor]="'border-info'"></app-task-details>
                            </div>
                        </div>
                    </div>
    
                    <div class="p-col-12 p-md-3">
                        
                        <div class="p-col-12">
    
                            <div class="p-grid">
                                <div class="p-col-9">
                                    <h4>25% Fatto</h4>
                                </div>
                                <div class="p-col-3">
                                    <p-tag class="pull-right"  severity="warning" icon="pi pi-clone" [value]="mediumPriorityTasks.length"></p-tag> 
                                </div>
                            </div>
                            </div>
               
                        <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #mediumPriorityTasksList="cdkDropList"
                                [cdkDropListData]="mediumPriorityTasks"
                                [cdkDropListConnectedTo]="[donePriorityTasksList, highPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropMediumPriorityTasksList($event)">
                                <app-task-details (deleteItem)="deleteTask($event)" [edit]="false"  [cancel]="false"  (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                    [tasks]="mediumPriorityTasks" [borderColor]="'border-warning'"></app-task-details>
                            </div>
                        </div>
                    </div>
    
                    <div class="p-col-12 p-md-3">
                        
                        <div class="p-col-12">
    
                            <div class="p-grid">
                                <div class="p-col-9">
                                    <h4>75% Fatto</h4>
                                </div>
                                <div class="p-col-3">
                                    <p-tag class="pull-right"  severity="warning" [edit]="false"  [cancel]="false"  icon="pi pi-clone" [value]="highPriorityTasks.length"></p-tag> 
                                </div>
                            </div>
                            </div>
       
                        <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #highPriorityTasksList="cdkDropList"
                                [cdkDropListData]="highPriorityTasks"
                                [cdkDropListConnectedTo]="[donePriorityTasksList, mediumPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropHighPriorityTasksList($event, $id)">
                                <app-task-details (deleteItem)="deleteTask($event)" [edit]="false"  [cancel]="false"  (editItem)="editItem($event)"  (viewItem)="viewItem($event)"
                                    [tasks]="highPriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <div class="p-col-12">
    
                            <div class="p-grid">
                                <div class="p-col-9">
                                    <h4>Finito</h4>
                                </div>
                                <div class="p-col-3">
                                    <p-tag class="pull-right" severity="success" icon="pi pi-clone" [value]="donePriorityTasks.length"></p-tag> 
                                </div>
                            </div>
                            </div>
                   
                        <div class="drop-wrapper">
                            <div class="drop-column" cdkDropList #donePriorityTasksList="cdkDropList"
                                [cdkDropListData]="donePriorityTasks"
                                [cdkDropListConnectedTo]="[highPriorityTasksList, mediumPriorityTasksList, lowPriorityTasksList]"
                                (cdkDropListDropped)="dropDonePriorityTasksList($event, $id)">
                                <app-task-details (deleteItem)="deleteTask($event)" [edit]="false"  [cancel]="false"  (editItem)="editItem($event)" (viewItem)="viewItem($event)"
                                    [tasks]="donePriorityTasks" [borderColor]="'border-danger'"></app-task-details>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>


            
        </div></div>
</div>


<p-sidebar [(visible)]="productDialogView" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">
       

        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '1'">Da Fare</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '2'">25%</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '3'">75%</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '4'">Finito</p-tag> 

        
        <h4>{{task.title}}</h4>
        {{task.description}}
        <hr class="full">

    </ng-template>

</p-sidebar>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>


<p-toast key="myKey1"></p-toast>
