<div class="dash-header">
    <div class="dash-title">
    </div>
</div>



    
<div class="p-fluid">
    <div class="p-field p-grid">



        <div class="p-col-12 p-md-12">  

        <p-card>
            <h3>Timesheet Matthias</h3>         
        </p-card>

        </div>
    </div>
    <div class="p-field p-grid">

        <div class="p-col-12 p-md-3" *ngFor="let task of tasks">


            <p-card>
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">  

            <strong>{{task.title}}</strong><br>
            <p>{{task.description}}</p>
                        <br>

                        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '1'">Da Fare</p-tag> 
                        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '2'">25%</p-tag> 
                        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '3'">75%</p-tag> 
                        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '4'">Finito</p-tag> 

                        <p-tag class="p-mr-2">{{task.created_at | date:"dd/MM/yy"}}</p-tag> 

            <button pButton pRipple label="modifica" class="p-button p-button-small p-button-success p-mr-2" [routerLink]="['/admin/task/', task.project_id]"></button>
            <button pButton pRipple label="visualizza" class="p-button p-button-small p-button-primary p-mr-2" (click)="viewItem(task)"></button>

                    </div>
        
                </div>
        </p-card>

          
        </div>
    </div>
</div>


<p-sidebar [(visible)]="productDialogView" position="right" [style]="{width:'40%'}">
    <ng-template pTemplate="content">
       

        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '1'">Da Fare</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '2'">25%</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '3'">75%</p-tag> 
        <p-tag class="p-mr-2" severity="warning" *ngIf="task.priority === '4'">Finito</p-tag> 

        
        <h4>{{task.title}}</h4>
        {{task.description}}
        <hr class="full">

    </ng-template>

</p-sidebar>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<p-toast key="myKey1"></p-toast>
