<div class="dash-header">
    <div class="p-fluid">
  
    </div>
</div>

<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-8">

     
<p-card>
    <div class="p-field p-grid">
        <div class="p-col-9 p-md-9">
    <h3>{{title}}</h3>
        </div>
        <div class="p-col-3 p-md-3">

            <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/settings/works/create']" label="Aggiungi" class="p-button p-button-primary p-mr-2"></button> 

</div>
    </div>


    <div class="p-col-12">
    <div class="p-field p-grid">

        <div class="p-col" *ngFor="let col of cols" >
         
            <input placeholder="{{col.header}}" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </div>
    </div>
    </div>
       <!-- <p-multiSelect [options]="columnOptions" [showToggleAll]="false" (onChange)="selectionItemForFilter($event)" [(ngModel)]="cols" maxSelectedLabels="{0} columns selected">
        </p-multiSelect>-->


    <p-table #dt [columns]="cols" [value]="works" [globalFilterFields]="['name', 'description']" currentPageReportTemplate="Visualizza {first} di {last} su {totalRecords} Items" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [loading]="loading" [totalRecords]="totalRecords">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}} 
            </th>
            <th width="140"></th>
        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of cols">
                {{rowData[col.field]}}
            </td>

            <td class="action">
                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/settings/works/edit', rowData.id]"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2" (click)="onDelete(rowData.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table> 



</p-card>
        </div></div></div>




<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

{{error}}