@white: #ffffff;
@red: #f04b69;
@green: #61cd93;
@ness_color_1: rgb(237, 237, 237);
@ness_color_2: #434343;
@ness_color_3: #7052f6;
@radius: 8px;
@shadow: 0 2px 7px rgba(0, 0, 0, 10%);
@background: #F3F5F9;
@text-color: #002147;