@white: #ffffff;
@red: #f64f63;
@green: #60c140;
@ness_color_1: rgb(237, 237, 237);
@ness_color_2: #111620;
@ness_color_3: #23c3dc;
@ness_color_4: #23c3dc;
@ness_color_5: #23c3dc;
@ness_color_6: #23c3dc;
@ness_color_7: #ffa500;
@radius: 6px;
@shadow: 0 2px 7px rgba(0, 0, 0, 10%);
@background: #f8fafe;
@text-color: #002147;