@white: #ffffff;
@red: #f64f63;
@green: #60c140;
@ness_color_1: rgb(237, 237, 237);
@ness_color_2: #002147;
@ness_color_3: #349afe;
@ness_color_4: #937acd;
@ness_color_5: #61dafb;
@ness_color_6: #42a5f5;
@ness_color_7: #ffa500;
@radius: 6px;
@shadow: 0 2px 7px rgba(0, 0, 0, 10%);
@background: #f6f7fb;
@text-color: #002147;