@import "colors.less";
@import "print.less";
@import "font-awesome.min.less";

@import "primeng.less";


@font-face {
  font-family: "Circular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/circular-book.woff") format("woff"), url("../fonts/circular-book.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/circular-bookitalic.woff") format("woff"), url("../fonts/circular-bookitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/circular-medium.woff") format("woff"), url("../fonts/circular-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/circular-mediumitalic.woff") format("woff"), url("../fonts/circular-mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/circular-bold.woff") format("woff"), url("../fonts/circular-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/circular-bolditalic.woff") format("woff"), url("../fonts/circular-bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/circular-black.woff") format("woff"), url("../fonts/circular-black.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/circular-blackitalic.woff") format("woff"), url("../fonts/circular-blackitalic.ttf") format("truetype");
}

h1, h2, h3, h1 span, h2 span, h3 span {
  font-family: "Circular", sans-serif;
}

:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
}

.dash-title {
  padding-bottom: 10px;
h3 {
  padding: 0px;
  margin: 4px 0px 4px 0px;
  font-size: 25px;
}

}


.pull-right {

  float: right;
}

a {
  color: @ness_color_2 ;
  text-decoration: none;
}

a:hover {
  color: @ness_color_2;
  text-decoration: none;
}

body {
  font-family: "Circular", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: @background;
  color: @text-color;
}

.header {
  background-color: @red;
  padding: 0px 20px;
  color: @white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  line-height: 60px;
  height: 70px;
  z-index: 100;
  width: 100%;
  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 60px;
    font-family: "Circular", sans-serif;
  }
  .logo {
    float: left;
    margin-right: 30px;
  }
}

.fc-right {
  margin-left: auto;
}

.p-fluid .p-button {
 width: auto;
 min-width: 40px;
}

.works {
  width: 100%;
  margin: 0px;
 td {
padding: 12px 0px ;
border-bottom: 1px solid #ccc;
}}

.user {
  background-color: @ness_color_2;
  padding: 8px 10px !important;
  border-radius: @radius;
  color: @white;
  margin-right: 10px;

  &:hover {
    background-color: darken(@green,20%);
  
  }
}


.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: fade(@ness_color_2, 20%);
  border-color: fade(@ness_color_2, 20%);
  color: @text-color;
}



.sidebar {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: @white;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;

 

  .user-menu {
    position: absolute;
    list-style-type: none;
    margin: 0px;
    margin-top: 20px;
    padding: 0px !important;
    margin-right: 0px;
    bottom: 0px;
    left: 15px;
    li {
      float: left;
      list-style: none;
      font-size: 14px;
      width: 40px !important;
      height: 40px;
      border-radius: @radius;
      margin-bottom: 10px;
      padding: 0px;
      line-height: 40px;
      color: @ness_color_2;
      text-align: center;
      &.logout {
        background-color: fade(@ness_color_2, 20%);
        margin-bottom: 10px;
        color: @ness_color_2;
      }

      a {
        color: @ness_color_2;

      }
    }
  }

     
  


  ul.nav-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-top: 80px;
    li {
      list-style-type: none;
      float: left;
      width: 100%;
      padding: 0px;
      text-align: center;
      height: 50px;
      line-height: 40px;

      a {
        padding: 8px 14px;
        text-decoration: none;
        font-size: 15px;
        color: @ness_color_2;
        display: block;
        text-align: center;

        transition: 0.3s;
        span {
          float: left;
          display: none !important;
          visibility: hidden !important;
          transition: visibility 0.1s;
        }
        &:hover {
          color: #f1f1f1;
        }
        i {
          float: left;
          font-size: 20px;
          width: 40px;
          line-height: 40px;
          height: 40px;
          margin-right: 20px;
          text-align: center;
        }

        &:hover {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            background-color: @ness_color_2;
            border-radius: @radius;
            text-align: center;
          }
        }

        &.active {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            background-color: @ness_color_3;
            border-radius: @radius;
            text-align: center;
          }
        }
      }
    }
  }
  &.open {
    width: 70px;

    ul {
      li {
        a {
          span {
            display: none !important;
            visibility: hidden !important;
          }
          &:hover {}
          i {}
        }
      }
    }
    
  }
  &.close {
    width: 200px;
    ul {
      li {
        a {
          span {
            display: inherit !important;
            visibility: visible !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
}


#main {
  transition: margin-left 0.1s;
  padding: 60px 30px 30px 30px;
  margin-left: 70px;
  &.open {
    margin-left: 200px;
  }
  &.close {
    margin-left: 70px;

  }
}




hr.full {
border: 0px;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
}

.navbar-top {
  height: 60px;
  background-color: @white;
  position: fixed;
  width: 100%;
  z-index: 100;
 
  .openbtn {
    font-size: 22px;
    cursor: pointer;
    background-color: @white;
    color: @ness_color_3;
    width: 70px;
    height: 60px;
    border: none;
    text-align: center;
    line-height: 60px;
    float: left;
    border-right: 0px solid #ccc;
    i {
      color: @ness_color_2;
      width: 40px;
      height: 40px;
    }
  }



  .logo-wrapper {
    float: left;
    margin-left: 20px;
    top: 20px;
    position: relative;
    height: 20px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
    img {
      height: 20px;
    }
  }

  .user-menu {
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 5px;

    li {
      list-style-type: none;
      font-size: 16px;
      float: left;
      margin-left: 10px;

        i {
          color: fade(@ness_color_2, 40%);
        }
    }
  }
}



.login-wrap {

  height: 100vh;
  background-color: @ness_color_3;
}


.login-box {

  height: 100vh;
  background-color: #FFF;
  max-width: 40%;
  
  .login-box-inner {
    padding: 40% 60px 0px 60px;
  }
}


.p-timeline {
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;

  .p-timeline-event {
    min-height: 100px;
  }
  .p-timeline-event-marker {
  border: 2px solid @ness_color_3;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
}
}

.p-timeline-event-opposite {
  display: none;
  visibility: hidden;
}

.p-card {
  background: #ffffff;
  color: @text-color;
  box-shadow: @shadow;
  border-radius: @radius;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  .p-card-body {
    padding: 1.5rem;
  .p-card-content {
    padding: 0px;
  h3 {
    padding: 8px 0px;
    margin: 0px;
    font-size: 20px;
  }

}
}
}


.p-tabview {
  
  .p-tabview-nav {
    li{
      &.p-highlight {
        
        .p-tabview-nav-link {
          color: @ness_color_3;
          border-color: transparent transparent @ness_color_3
        }
      }
    }
  }
}

.main {
  transition: margin-left 0.1s;
  padding: 60px 60px;
  margin-left: 64px;
  &.open {
    margin-left: 64px;
  }
  &.close {
    margin-left: 64px;
  }
}
.dash-header {
  padding: 30px 0px 0px 0px;
}
.sidebar-main {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 64px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;

  .title-wrapper {
    float: left;
    margin-left: 0px;
    color: @ness_color_2;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    font-family: "Circular";
    font-weight: 500;
    height: 66px;
    line-height: 66px;
    h3 {
      padding: 0px;
      padding-top: 0px;
      margin: 0px;
      line-height: 66px;
    }
  }
  


  .information-box {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: @white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    h4 {
      font-size: 15px;
      margin: 0px;
      font-family: "Circular";
      font-weight: 500;
    }
  }
  ul {
    list-style: none;
    padding: 20px 0px;
    li {
      list-style-type: none;
      float: left;
      width: 100%;
      margin-bottom: 5px;
      padding: 10px 0px;
      border-bottom: 1px solid fade(@ness_color_2, 10%);
      font-size: 15px;
      font-family: "Circular";
      font-weight: 500;
      i {
        margin-right: 5px;
        opacity: 0.6;
      }
      a {
        color: @ness_color_2;
        text-decoration: none;
        -webkit-transition: color 300ms, color 300ms;
        -moz-transition: color 300ms, color 300ms;
        -o-transition: color 300ms, color 300ms;
        transition: color 300ms, color 300ms;
        font-size: 18px;
        &:hover {
          color: @ness_color_3;
        }
        &.active {
          color: @ness_color_3;
        }
      }
      h4 {
        font-size: 15px;
        margin: 0px;
      }
    }
  }
  &.open {
    width: 200px;
    ul {
      li {
        a {
          span {
            display: inherit !important;
            visibility: visible !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
  &.close {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    ul {
      li {
        a {
          span {
            display: none !important;
            visibility: hidden !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.p-sidebar {
  h1, h2, h3, h1 span, h2 span, h3 span {
    font-family: "Circular", sans-serif;
  }
}

.p-datatable .p-datatable-footer {
  background: #FFF;
  color: @text-color;
  border: 0px solid #e9ecef !important;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.p-datatable .p-datatable-header {
  background: #FFF;
  color: @text-color;
  border: 0px solid #e9ecef !important;
  border-width: 1px 0 1px 0;
  padding: 1rem 0rem;
  font-weight: 600;
  h5 {
    font-size: 20px;
  }
}

.homepage-wrapper {
  .information-box {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: @ness_color_3;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
    border: 0px solid #ccc;
    font-size: 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    color: @white;
    font-size: 15px;
    font-family: "Circular";
    font-weight: 500;
  }
}

.fc-other-month {
  background-color: fade(@ness_color_3, 6%) !important;
}

.fc .fc-view-container .fc-event {
  background: @ness_color_3;
  border: 1px solid @ness_color_3;
  color: @white;

  .fc-title {
  a {
    color: @white !important;
  }
}
}


.fc .fc-toolbar .fc-button {
  color: @ness_color_2;
  background: transparent;
  border: 1px solid @ness_color_2;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.fc-icon {
	display: block;

	// Icon base
	&:after {
		display: inline-block;
		font-family: "FontAwesome";
		line-height: 1;
		font-size: 14px;
		vertical-align: middle;
		position: relative;
		top: -1px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

// Arrow icons
.fc-icon-left-single-arrow:after {
	content: "\f053";
}
.fc-icon-right-single-arrow:after {
	content: "\f054";
}
.fc-icon-left-double-arrow:after {
	content: "\000AB";
}
.fc-icon-right-double-arrow:after {
	content: "\000BB";
}

// X icon
.fc-icon-x:after {
	content: "\ed6b";
	font-size:14px;
	display: block;
}


.fc-icon.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}

.fc .fc-toolbar .fc-button:enabled:hover {
  background:  @ness_color_3;
  color: #ffffff;
  border-color:  @ness_color_3;
}

.fc-button {
  padding: 3px !important;
}

.fc .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active, .fc .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active, .fc .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active {
  background: @ness_color_2;
  border-color: @ness_color_2;
  color: #ffffff;
}


@import "media.less";
