@import "colors.less";
@import "print.less";
@import "font-awesome.min.less";
@import "primeng.less";
@font-face {
  font-family: "Circular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/circular-book.woff") format("woff"), url("../fonts/circular-book.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/circular-bookitalic.woff") format("woff"), url("../fonts/circular-bookitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/circular-medium.woff") format("woff"), url("../fonts/circular-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/circular-mediumitalic.woff") format("woff"), url("../fonts/circular-mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/circular-bold.woff") format("woff"), url("../fonts/circular-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/circular-bolditalic.woff") format("woff"), url("../fonts/circular-bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/circular-black.woff") format("woff"), url("../fonts/circular-black.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/circular-blackitalic.woff") format("woff"), url("../fonts/circular-blackitalic.ttf") format("truetype");
}

h1, h2, h3, h1 span, h2 span, h3 span {
  font-family: "Circular", sans-serif;
}

:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
}

.dash-title {
  padding-bottom: 10px;
  h3 {
    padding: 0px;
    margin: 4px 0px 4px 0px;
    font-size: 25px;
  }
}

.show-mobile {
  display: none;
  visibility: hidden;
}

.pull-right {
  float: right;
}

a {
  color: @ness_color_2 ;
  text-decoration: none;
}

.red {
  color: @red;
}

a:hover {
  color: @ness_color_2;
  text-decoration: none;
}

.overlay-scroll-content {
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

body {
  font-family: "Circular", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: @background;
  color: @text-color;
}

p.small {
  font-size: 12px;
  padding: 0px;
  line-height: 14px;
  margin: 0px;
  margin-top: 2px;
}

p.detail {
  font-size: 13px;
  padding: 0px;
  line-height: 14px;
  margin: 0px;
  margin-top: 4px !important;
  i {
    font-size: 13px;
    color: @ness_color_3;
  }
}

p a {
  color: @ness_color_3;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.header {
  background-color: @red;
  padding: 0px 20px;
  color: @white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  line-height: 60px;
  height: 70px;
  z-index: 100;
  width: 100%;
  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 60px;
    font-family: "Circular", sans-serif;
  }
  .logo {
    float: left;
    margin-right: 30px;
  }
}

.fc-right {
  margin-left: auto;
}

.no-margin {
  margin: 0px;
}

.p-fluid .p-button {
  width: auto;
  min-width: 32px;
}

.works {
  width: 100%;
  margin: 0px;
  td {
    padding: 12px 0px;
    border-bottom: 1px solid #ccc;
  }
}

.user {
  background-color: @ness_color_2;
  padding: 8px 10px !important;
  border-radius: @radius;
  color: @white;
  margin-right: 10px;
  &:hover {
    background-color: darken(@green, 20%);
  }
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: fade(@ness_color_2, 20%);
  border-color: fade(@ness_color_2, 20%);
  color: @text-color;
}

.welcome-banner {
  border-radius: @radius;
  padding: 20px 30px;
  color: @white;
  background: url(src/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  .img-banner {
    width: 240px;
  }
  h3 {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    color: @white;
  }
}

.sidebar {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2b3762;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;
  .user-menu {
    position: absolute;
    list-style-type: none;
    margin: 0px;
    margin-top: 20px;
    padding: 0px !important;
    margin-right: 0px;
    bottom: 0px;
    left: 15px;
    li {
      float: left;
      list-style: none;
      font-size: 14px;
      width: 40px !important;
      height: 40px;
      border-radius: @radius;
      margin-bottom: 10px;
      padding: 0px;
      line-height: 40px;
      color: @white;
      text-align: center;
      i {
        margin-right: 5px;
      }
      &.logout {
        background-color: fade(@ness_color_2, 20%);
        margin-bottom: 10px;
        color: @ness_color_2;
      }
      a {
        color: @white;
      }
    }
  }
  ul.nav-menu {
    list-style: none;
    padding: 0px;
    display: inline-block;
    margin: 0px;
    padding-top: 80px;
    li {
      list-style-type: none;
      float: left;
      width: 100%;
      padding: 0px;
      text-align: center;
      height: 44px;
      line-height: 40px;
      a {
        padding: 8px 14px;
        text-decoration: none;
        font-size: 15px;
        color: @white;
        display: block;
        text-align: center;
        transition: 0.3s;
        span {
          float: left;
          display: none !important;
          visibility: hidden !important;
          transition: visibility 0.1s;
        }
        &:hover {}
        i {
          float: left;
          font-size: 20px;
          width: 40px;
          line-height: 40px;
          height: 40px;
          margin-right: 20px;
          text-align: center;
          border: 1px solid transparent;
        }
        &:hover {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            border-radius: @radius;
            text-align: center;
            color: @white;
            border: 1px solid @ness_color_3;
          }
        }
        &.active {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            background-color: @ness_color_3;
            border-radius: @radius;
            text-align: center;
            border: 1px solid @ness_color_3;
          }
        }
      }
    }
  }
  ul.settings-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-top: 20px;
    li {
      list-style-type: none;
      float: left;
      width: 100%;
      padding: 0px;
      text-align: center;
      height: 44px;
      line-height: 40px;
      a {
        padding: 8px 14px;
        text-decoration: none;
        font-size: 15px;
        color: @white;
        display: block;
        text-align: center;
        transition: 0.3s;
        span {
          float: left;
          display: none !important;
          visibility: hidden !important;
          transition: visibility 0.1s;
        }
        &:hover {}
        i {
          float: left;
          font-size: 20px;
          width: 40px;
          line-height: 40px;
          height: 40px;
          margin-right: 20px;
          text-align: center;
          border: 1px solid transparent;
        }
        &:hover {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            border-radius: @radius;
            text-align: center;
            color: @white;
            border: 1px solid @ness_color_3;
          }
        }
        &.active {
          i {
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            color: @white;
            background-color: @ness_color_3;
            border-radius: @radius;
            text-align: center;
            border: 1px solid @ness_color_3;
          }
        }
      }
    }
  }
  &.open {
    width: 70px;
    ul {
      li {
        a {
          span {
            display: none !important;
            visibility: hidden !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
  &.close {
    width: 240px;
    ul {
      li {
        a {
          span {
            display: inherit !important;
            visibility: visible !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
}

.item-size {
  padding: 5px 0px;
}

.filter-tag {
  background-color: #efefef;
  border-radius: 6px;
  padding: 2px 0px 2px 8px;
  margin-right: 6px;
  color: @ness_color_2;
  .close {
    background-color: @ness_color_2;
    border-radius: 0px 5px 5px 0px;
    width: 8px;
    padding: 2px 6px;
    height: 8px;
    i {
      color: #FFF !important;
      font-size: 11px;
    }
  }
}

ul.ngx-pagination {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  li {
    border-radius: 4px;
    height: 30px !important;
    line-height: 30px !important;
    &.current {
      background: @ness_color_3;
      border-radius: 4px;
      height: 30px;
      color: #fefefe;
      cursor: default;
      padding: 0px 9px !important;
      min-width: 30px;
    }
    &.disabled {
      background-color: transparent !important;
      span {
        &:hover {
          background: transparent !important;
          color: @ness_color_1;
        }
      }
    }
    a {
      padding: 0px 9px !important;
      min-width: 30px;
    }
    :hover {
      background: @ness_color_2;
      border-radius: 4px;
      color: #fefefe;
      cursor: default;
    }
  }
}

ul.nav-menu-mobile {
  list-style: none;
  padding: 0px;
  display: inline-block;
  margin: 0px;
  padding-top: 0px;
  overflow-y: auto !important;
  li {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 0px;
    text-align: center;
    height: 44px;
    line-height: 40px;
    a {
      padding: 8px 14px;
      text-decoration: none;
      font-size: 15px;
      color: @ness_color_2;
      display: block !important;
      visibility: visible;
      text-align: center;
      transition: 0.3s;
      span {
        float: left;
        transition: visibility 0.1s;
      }
      &:hover {}
      i {
        float: left;
        font-size: 20px;
        width: 40px;
        line-height: 40px;
        height: 40px;
        margin-right: 20px;
        text-align: center;
        border: 1px solid transparent;
      }
      &:hover {
        i {
          float: left;
          font-size: 20px;
          width: 40px;
          height: 40px;
          color: @white;
          border-radius: @radius;
          text-align: center;
          color: @white;
          border: 1px solid @ness_color_3;
        }
      }
      &.active {
        i {
          float: left;
          font-size: 20px;
          width: 40px;
          height: 40px;
          color: @white;
          background-color: @ness_color_3;
          border-radius: @radius;
          text-align: center;
          border: 1px solid @ness_color_3;
        }
      }
    }
  }
}

.featured-card {
  .p-card {
    background-color: #2b3762;
    color: fade(@white, 60%);
    .p-card-body {
      padding: 25px;
      h4 {
        color: @white;
      }
    }
  }
}

.appointment-card {

  .icon {
    background-color: fade(@ness_color_2,10%);
    color: #666;
    height: 44px;
    line-height: 44px;
    width: 44px;
    border-radius: @radius;
    text-align: center;
  }

}

.top-main-wrapper {
  background-color: transparent;
  margin-bottom: 15px;
  padding: 20px 20px 0px 20px;
  border-bottom: 0px solid #dee2e6;
  border-top: 0px solid #dee2e6;

  &.with-sidebar {
    margin-right: 450px;
  }

  .dash-header {
    padding: 0px;
    margin: 0px;
  }
  .dash-title {
    padding-bottom: 0px;
    h3 {
      padding: 0px;
      margin: 4px 0px 4px 0px;
      font-size: 20px;
    }
  }
  .p-field {
    margin-bottom: 0rem;
  }
}

.title-main-wrapper {
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
  border-bottom: 0px solid #dee2e6;
  border-top: 0px solid #dee2e6;
  .dash-header {
    padding: 0px;
    margin: 0px;
  }
  .dash-title {
    padding-bottom: 0px;
    h3 {
      padding: 0px;
      margin: 4px 0px 4px 0px;
      font-size: 20px;
    }
  }
  .p-field {
    margin-bottom: 0rem;
  }
}

#main {
  transition: margin-left 0.1s;
  margin-left: 70px;
  padding: 0px;
  padding-top: 60px;
  .main-inner {
    padding: 0px 20px 30px 20px;
    &.with-sidebar {
      margin-right: 450px;
    }
  }
  &.open {
    margin-left: 240px;
  }
  &.close {
    margin-left: 70px;
  }
}

hr.full {
  border: 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.read {
  width: 6px;
  height: 6px;
  border-radius: 30px;
  float: right;
  &.yes {
    background-color: @red;
  }
  &.no {
    background-color: @green;
  }
}

.navbar-top {
  height: 60px;
  background-color: @white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #dee2e6;
    .openbtn {
    font-size: 22px;
    cursor: pointer;
    background-color: @white;
    color: @ness_color_3;
    width: 70px;
    height: 60px;
    border: none;
    text-align: center;
    line-height: 60px;
    float: left;
    border-right: 0px solid #ccc;
    i {
      color: @ness_color_2;
      width: 40px;
      height: 40px;
    }
  }
  .logo-wrapper {
    float: left;
    margin-left: 0px;
    top: 8px;
    position: relative;
    height: 30px;
    padding-right: 15px;
    border-left: 0px solid #ccc;
    font-size: 26px;
    font-weight: bold;
    img {
      height: 30px;
    }
    .color-dot {
      color: @white;
      text-transform: uppercase;
      font-size: 10px;
      background-color: @ness_color_3;
      padding: 3px;
      border-radius: 4px;
      position: relative;
      padding-left: 5px;
      padding-right: 5px;
      top: -3px;
      margin-left: 3px;
    }
  }
  .user-menu {
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 5px;
    li {
      list-style-type: none;
      font-size: 16px;
      float: left;
      margin-left: 15px;
      i {
        color: fade(@ness_color_2, 40%);
        margin-right: 5px;
      }
      .support-tag {
        margin-right: 5px;
      }
    }
  }
}

.button_outer {
  background: fade(@ness_color_2, 10%);
  border-radius: @radius;
  text-align: center;
  height: 50px;
  width: 100%;
  display: inline-block;
  transition: .2s;
  position: relative;
  border: 2px dotted fade(@ness_color_2, 30%);
  overflow: hidden;
}

.btn_upload {
  padding: 14px 30px 12px;
  color: @ness_color_2;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  z-index: 3;
  white-space: nowrap;
}

.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}

.login-wrap {
  height: 100vh;
  background: @ness_color_2 url(src/assets/images/page-header-bg.svg)no-repeat right bottom;
  position: relative;
}

.login-box {
  background-size: 100%;
  width: 100%;
  max-width: 500px;
  height: 100%;
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
  border-radius: 6px;
  .logo-wrapper {
    float: left;
    margin-left: 0px;
    top: 8px;
    height: 50px;
    border-left: 0px solid #ccc;
    margin-bottom: 30px;
    img {
      height: 50px;
    }
  }
  .alert.alert-danger {
    background-color: @red;
    margin-bottom: 10px;
    padding: 8px 14px;
    color: @white;
    border-radius: @radius;
  }
  .login-box-inner {
    padding: 34px 30px 30px 30px;
    width: 92%;
    background-color: #FFF;
    box-shadow: @shadow;
    margin: 0 auto;
  
    margin-top: 50%;
    border-radius: @radius;
    input {
      width: 100%;
      line-height: 2;
      height: 45px;
      border-radius: @radius;
    }
    button {
      width: 100%;
      display: block;
      border: none;
      border-radius: @radius;
      color: white;
      height: 40px;
      background-color: @ness_color_4;
    }
    h1 {
      span {
        font-family: "Circular";
        font-weight: normal;
      }
    }
  }
}

.p-timeline {
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;
  .p-timeline-event {
    min-height: auto !important;
  }
  .p-timeline-event-marker {
    border: 2px solid @ness_color_3;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
  }
}

.support-tag {
  padding: 3px 7px;
  margin-left: 6px;
  background-color: @ness_color_3;
  border-radius: @radius;
  color: @white;
  height: 20px;
  width: 20px;
  font-size: 13px;
  position: relative;
  top: -2px;
}

.color-dot {
  color: @white;
  text-transform: uppercase;
  font-size: 10px;
  background-color: @ness_color_3;
  padding: 3px;
  border-radius: 4px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  top: -3px;
  margin-left: 3px;
}

.p-timeline-event-opposite {
  display: none;
  visibility: hidden;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f7faff;
}

.p-card {
  background: #ffffff;
  color: @text-color;
  box-shadow: none;
  border-radius: @radius;
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
  .p-card-body {
    padding: 15px;
    .p-card-content {
      padding: 0px;
      h3 {
        padding: 0px 0px 8px 0px;
        margin: 0px;
        font-size: 20px;
      }
      hr {
        border: 0px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

.blu-box {
  .p-card {
    background: #2b3762;
    color: @text-color;
    box-shadow: none;
    border-radius: @radius;
    border: 0px solid #dee2e6;
    border-left: 8px solid fade(@ness_color_3, 90%);
    margin-bottom: 20px;
    .p-card-body {
      padding: 15px;
      .p-card-content {
        padding: 0px;
        color: @white;
        label.legend {
          color: fade(@white, 40%);
        }
        h3 {
          padding: 0px 0px 0px 0px;
          margin: 0px;
          font-size: 20px;
          color: @white;
        }
        hr {
          border: 0px;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}

.well {
  border-radius: @radius;
  padding: 10px 10px;
  background-color: fade(@ness_color_3, 6%);
  p {
    margin: 0px;
    padding: 0px;
  }
}

.p-tabview {
  .p-tabview-nav {
    li {
      &.p-highlight {
        .p-tabview-nav-link {
          color: @ness_color_2;
          border-color: transparent transparent @ness_color_2
        }
      }
    }
  }
}

.main {
  transition: margin-left 0.1s;
  padding: 60px 60px;
  margin-left: 64px;
  &.open {
    margin-left: 64px;
  }
  &.close {
    margin-left: 64px;
  }
}

.dash-header {
  padding: 30px 0px 0px 0px;
  .p-card {
    .p-field {
      margin: 0px !important;
    }
  }
}

.sidebar-inner {
  height: calc(100% - 61px);
  width: 70px;
  position: absolute;
  z-index: 1;
  top: 61px;
  right: 0px;
  background-color: @white;
  border-left: 1px solid #dee2e6;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}



.sidebar-inside {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: @white;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 68px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #dee2e6;

  h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
  }
}
.sidebar-main {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 64px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  .title-wrapper {
    float: left;
    margin-left: 0px;
    color: @ness_color_2;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    font-family: "Circular";
    font-weight: 500;
    height: 66px;
    line-height: 66px;
    h3 {
      padding: 0px;
      padding-top: 0px;
      margin: 0px;
      line-height: 66px;
    }
  }
  .information-box {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: @white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    h4 {
      font-size: 15px;
      margin: 0px;
      font-family: "Circular";
      font-weight: 500;
    }
  }
  ul {
    list-style: none;
    padding: 20px 0px;
    li {
      list-style-type: none;
      float: left;
      width: 100%;
      margin-bottom: 5px;
      padding: 10px 0px;
      border-bottom: 1px solid fade(@ness_color_2, 10%);
      font-size: 15px;
      font-family: "Circular";
      font-weight: 500;
      i {
        margin-right: 5px;
        opacity: 0.6;
      }
      a {
        color: @ness_color_2;
        text-decoration: none;
        -webkit-transition: color 300ms, color 300ms;
        -moz-transition: color 300ms, color 300ms;
        -o-transition: color 300ms, color 300ms;
        transition: color 300ms, color 300ms;
        font-size: 18px;
        &:hover {
          color: @ness_color_3;
        }
        &.active {
          color: @ness_color_3;
        }
      }
      h4 {
        font-size: 15px;
        margin: 0px;
      }
    }
  }
  &.open {
    width: 200px;
    ul {
      li {
        a {
          span {
            display: inherit !important;
            visibility: visible !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
  &.close {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    ul {
      li {
        a {
          span {
            display: none !important;
            visibility: hidden !important;
          }
          &:hover {}
          i {}
        }
      }
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.p-sidebar {
  h1, h2, h3, h1 span, h2 span, h3 span {
    font-family: "Circular", sans-serif;
    margin-top: 0px;
  }
}

.p-datatable .p-datatable-footer {
  background: #FFF;
  color: @text-color;
  border: 0px solid #e9ecef !important;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.p-datatable .p-datatable-header {
  background: #FFF;
  color: @text-color;
  border: 0px solid #e9ecef !important;
  border-width: 1px 0 1px 0;
  padding: 1rem 0rem;
  font-weight: 600;
  h5 {
    font-size: 20px;
  }
}

.p-timeline-event-content {
  .p-card {
    background-color: #f3f5f9;
    color: #282d35;
    box-shadow: none;
    border-radius: 6px;
    border: 0px solid #dee2e6;
    margin-bottom: 10px;
    .p-card-content {
      border: 0px;
    }
    .p-card-body {
      padding: 12px 15px;
      border: 0px;
    }
  }
}

.progress-project {
  .p-card {
    background-color: @white;
    color: @ness_color_2;
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    .p-card-content {
      border: 0px;
    }
    .p-card-body {
      padding: 40px 15px;
      border: 0px;
      text-align: center;
      .number {
        font-size: 40px;
        font-weight: 600;
      }
    }
  }
}

.complete-project {
  .p-card {
    color: @white;
    box-shadow: none;
    border-radius: 6px;
    border: 0px solid #dee2e6;
    margin-bottom: 20px;
    .p-card-content {
      border: 0px;
    }
    .p-card-body {
      padding: 40px 15px;
      border: 0px;
      text-align: center;
      .number {
        font-size: 40px;
        font-weight: 600;
      }
    }
  }

  &.orange {
    .p-card {
    background-color: @yellow;
    border: 1px solid @yellow !important;

    }
   }

   &.green {
    .p-card {
    background-color: @green;
    border: 1px solid @green !important;

    }
   }

  &.white {
    .p-card {
    background-color: @red;
    color: @white !important;
    border: 1px solid #dee2e6 !important;
    }
  }
  
}

.homepage-wrapper {
  .information-box {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: @ness_color_3;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
    border: 0px solid #ccc;
    font-size: 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    color: @white;
    font-size: 15px;
    font-family: "Circular";
    font-weight: 500;
  }
}

.fc-other-month {
  background-color: fade(@ness_color_3, 6%) !important;
}

.fc .fc-view-container .fc-event {
  background: @ness_color_3;
  border: 1px solid @ness_color_3;
  color: @white;
  padding: 5px;
  hr {
    border-color: @white !important;
  }
  i {
    font-size: 13px;
  }
  .fc-title {
    a {
      color: @white !important;
    }
  }
}

.fc .fc-toolbar .fc-button {
  color: @ness_color_2;
  background: transparent;
  border: 1px solid @ness_color_2;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.fc-icon {
  display: block;
  // Icon base
  &:after {
    display: inline-block;
    font-family: "FontAwesome";
    line-height: 1;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Arrow icons
.fc-icon-left-single-arrow:after {
  content: "\f053";
}

.fc-icon-right-single-arrow:after {
  content: "\f054";
}

.fc-icon-left-double-arrow:after {
  content: "\000AB";
}

.fc-icon-right-double-arrow:after {
  content: "\000BB";
}

// X icon
.fc-icon-x:after {
  content: "\ed6b";
  font-size: 14px;
  display: block;
}

.fc-icon.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}

.fc .fc-toolbar .fc-button:enabled:hover {
  background: @ness_color_3;
  color: #ffffff;
  border-color: @ness_color_3;
}

.fc-button {
  padding: 3px !important;
}

.fc .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active, .fc .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active, .fc .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active {
  background: @ness_color_2;
  border-color: @ness_color_2;
  color: #ffffff;
}

.billings-list {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  thead {
    tr {
      th {
        background-color: @background;
        text-align: left;
        padding: 7px 10px;
        font-size: 13px;
      }
    }
  }
  tr {
    td {
      border-top: 1px solid #ccc;
      padding: 10px 10px;
      h4 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@import "media.less";