<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

    <div class="dash-header">
        <div class="dash-title">

            <div class="p-field p-grid">
                <div class="p-col-12 p-md-6">
                    <h3>Ordine / Woocommerce</h3>
                </div>
                <div class="p-col-12 p-md-6">
                    <button pButton pRipple icon="pi pi-save" [disabled]="!blogForm.valid" label="Salva"
                        class="p-button pull-right p-button-success"></button>

                    <button pButton pRipple icon="pi pi-save" (click)="downloadPDF()" label="Genera PDF"
                        class="p-button p-button-primary pull-right p-mr-2"></button>

                    <button pButton pRipple *ngIf="numberAppointments > 0"
                        [routerLink]="['/admin/appointments/edit', numberAppointments]" label="Visualizza Appuntamento"
                        class="p-button p-button-secondary  pull-right p-mr-2"></button>

                </div>
            </div>

        </div>
    </div>

    <div class="p-fluid">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-4">

                <p-card>

                    <div class="blog-form">

                        <div class="p-field p-grid">
                            <div class="p-col-12 p-md-12">
                                <h3>Informazioni</h3>
                            </div>

                        </div>
                        <hr class="full">

                        <div class="p-fluid">

                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-12 p-mb-md-0">Data di Emissione<span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-12">

                                    <p-calendar (onBlur)="changeTime($event)" formControlName="date" dataType="string"
                                        [(ngModel)]="dateAppointments" dateFormat="yy-mm-dd" appendTo="body">
                                    </p-calendar>

                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-12 p-mb-md-0">Tipo di Fattura <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-12">
                                    <input type="radio" formControlName="title" value="Fattura" /> Fattura
                                    <input type="radio" formControlName="title" value="Ricevuta" /> Ricevuta
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-12 p-mb-md-0">Cliente <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-12">
                                    <p-dropdown [options]="clients" [virtualScroll]="true" filter="true"
                                        [required]="true" [showClear]="true" placeholder="Scegli"
                                        [style]="{ width: '100%' }" [(ngModel)]="categoryAppointments"
                                        formControlName="category_id" optionLabel="username" optionValue="id">
                                        <ng-template let-option pTemplate="item">

                                            <strong>{{option.name}} {{option.surname}}</strong><br>
                                            <span>{{option.address}} - {{option.zip}} {{option.city}}</span>

                                        </ng-template>

                                    </p-dropdown>

                                </div>
                            </div>
                        </div>

                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-12 p-mb-md-0">Nota <span
                                        class="required">*</span></label>
                                <div class="p-col-12 p-md-12">

                                    <textarea pInputTextarea formControlName="description"
                                        (keyup)="changed($event)"></textarea>

                                </div>
                            </div>
                        </div>

                      

                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" value="{{idAppointments}}" *ngIf="idAppointments"
                                    formControlName="appointment_id">
                                <input type="hidden" formControlName="user_id" value="{{currentUser.user_id}}">

                            </div>
                        </div>

                    </div>

                </p-card>
            </div>

            <div class="p-col-12 p-md-8 " *ngIf="order">
                <p-card>
                    <div #reportContent id="editor">

                        <div class="p-fluid">

                            <div class="p-field p-grid">

                                <div class="p-col-12 p-md-12">   <p-tag [value]="order.status" class="pull-right p-mr-2"></p-tag> <p-tag [value]="order.order_key" class="pull-right p-mr-2"></p-tag>
                                    <h1>Ordine {{order.id}}</h1> 
                                    <hr class="full">
                                    <h3>{{order.date_created}}</h3>
                                </div>

                            </div>
                            <div class="p-field p-grid">

                                <div class="p-col-12 p-md-6">
                                    <h3>Cliente</h3>


                                   {{order.billing.first_name}} {{order.billing.last_name}}<br>
                                   {{order.billing.address_1}}<br>
                                   {{order.billing.postcode}} - {{order.billing.city}} ({{order.billing.state}})<br>
                                  {{order.billing.email}} -  {{order.billing.phone}}

                                </div>

                                <div class="p-col-12 p-md-6" *ngIf="getCategoryItem">
                                    <h3>Cliente</h3>

                                    {{ getCategoryItem(categoryAppointments)?.username }}<br>{{ getCategoryItem(categoryAppointments)?.zip }}
                                    - {{ getCategoryItem(categoryAppointments)?.city }} <br>
                                    {{ getCategoryItem(categoryAppointments)?.phone }}


                                </div>

                                <div class="p-col-12 p-md-6" *ngIf="company">
                                    <h3>Intestatario</h3>

                                    {{company.name}}<br>
                                    {{company.address}}<br>
                                    {{company.zip}} - {{company.city}}<br>
                                    {{company.fiscalcode}}<br>
                                    {{company.fiscalnumber}}<br>

                                </div>
                            </div>

                        </div>

                        <hr class="full">
                        <div class="p-fluid">
                    

                            <div class="p-field p-grid">

                                <div class="p-col-12 p-md-12">
                                    <h3>Prodotti</h3>
                                </div>
                       
                            </div>

                            <table class="billings-list">


                                <tr *ngFor="let order of order.line_items; let i=index">

                                    <td>
                                        <input type="text" *ngIf="!editForm" value="{{order.name}}" [style]="{ width: '100%' }" pInputText
                                            formControlName="description">
                                        <span *ngIf="editForm" [innerHTML]="order.name + ' / Cod.' + order.sku"></span></td>
                            
                                    <td>
                                        <input type="text" *ngIf="!editForm"  value="{{order.quantity}}" [style]="{ width: '100%' }"
                                            pInputText formControlName="qty">
                            
                                            <span *ngIf="editForm" >{{ order.quantity }}</span></td>
                            
                            
                            
                            
                                    <td>
                                        <input type="text" *ngIf="!editForm"  value="{{order.price}}" [style]="{ width: '100%' }"
                                            pInputText formControlName="price">
                            
                                            <span *ngIf="editForm" >{{ order.price | currency :'EUR':'symbol':'1.2-2' }}</span></td>
                            
                                    
                                        <td>
                                            <input type="text" *ngIf="!editForm"  value="{{order.total}}" [style]="{ width: '100%' }"
                                                pInputText formControlName="total">
                            
                                            <span *ngIf="editForm" >{{ order.total  | currency :'EUR':'symbol':'1.2-2' }}</span></td>
                                </tr>

                                
                              
                                    
                                <tr>
                                    <td colspan="3">
                                       Total senza Iva
                                    </td>

                                    <td>
                                       <h4>
                                            {{subTotal | currency :'EUR':'symbol':'1.2-2'}}</h4>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3" *ngIf="company">
                                        Valore Iva ({{company.fiscaltype}} %)
                                    </td>
                                    <td>{{vat | currency :'EUR':'symbol':'1.2-2'}}</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td colspan="3" *ngIf="company">
                                        Spedizione
                                    </td>
                                    <td>
                                       

                                        + {{order.shipping_total | currency :'EUR':'symbol':'1.2-2'}}
                              
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td colspan="3">
                                        Totale
                                    </td>
                                    <td>
                                        <h3>
                                            {{grandTotal | currency :'EUR':'symbol':'1.2-2'}}</h3>
                                    </td>
                                    <td></td>
                                </tr>
                        
                            </table>
                     


                        </div>
                    </div>
                </p-card>

            </div>
        </div>

    </div>

</form>

<p-toast key="myKey1"></p-toast>