<div class="dash-header">
    <div class="dash-title">
    </div>
</div>

<div class="p-grid">

    <div class="p-col-12 p-md-8">

       

        <p-card>

            <div class="p-field p-grid">
                <div class="p-col-10 p-md-10">
                    <h3>Dashboard</h3>
                </div>
                <div class="p-col-2 p-md-2">
    
                    <button pButton pRipple icon="pi pi-plus" (click)="productDialog = true" label="Aggiungi"
                    class="p-button p-button-primary pull-right"></button>
                </div>
            </div>
<hr class="full">

        

<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" 
    (eventClick)="eventClick($event.detail)" 
    (clickButton)="clickButton($event.detail)" 
    (dayClick)="dayClick($event.detail)">
        </ng-fullcalendar>
</div>
</p-card>
    </div>


    <div class="p-col-12 p-md-4">
        <p-card>

            
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-8">
                    <h3>Clienti</h3>
                </div>
                <div class="p-col-12 p-md-4">
                    <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/clients/create']"
                       class="p-button p-button-primary p-mr-2 pull-right"></button>

                </div>
            </div>
            <hr class="full">

            <p-table #dt1 [value]="clients" [globalFilterFields]="['name','address','category.name']"
                [paginator]="false" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        

           
                <ng-template pTemplate="body" let-client>
                    <tr>
                        <td><strong>{{client.name}}</strong><br>
                            
                            {{ getCategoryItem(client.category_id)?.nome }}
                            
                       </td>
                        <td class="action">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2 pull-right"
                                [routerLink]="['/admin/clients/edit', client.id]"></button>

                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>


<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'50%'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-card>

        <button pButton pRipple icon="pi pi-pencil" label="modifica Appuntamento" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/appointments/edit', displayEvent.event.id]"></button>

        <h3>{{displayEvent.event.title}}</h3>
        <p [innerHTML]="displayEvent.event.description"></p>
        <p [innerHTML]="displayEvent.event.start"></p>
        </p-card>
        </div>
        <div class="clearfix"></div><br>
        <div class="clearfix"></div>
        <div class="p-col-12 p-md-12">

        <p-card>
        <h4>{{ getCategoryItem(displayEvent.event.category_id)?.name }}</h4>
        <p>{{ getCategoryItem(displayEvent.event.category_id)?.address }}<br>
  
        {{ getCategoryItem(displayEvent.event.category_id)?.city }}<br>
        {{ getCategoryItem(displayEvent.event.category_id)?.region }}<br>
 
        {{ getCategoryItem(displayEvent.event.category_id)?.phone }}<br>
        {{ getCategoryItem(displayEvent.event.category_id)?.email }}</p>
        <div class="clearfix"></div>
        <button pButton pRipple icon="pi pi-pencil" label="Modifica Dati Cliente" class="p-button p-button-primary p-mr-2" [routerLink]="['/admin/clients/edit', displayEvent.event.category_id]"></button>
    </p-card>
        </div>
 
    </ng-template>

</p-sidebar>


