<div class="product-item" [ngClass]="borderColor" *ngFor="let task of tasks; let i = index" cdkDrag [cdkDragData]="task">

    <div class="product-list-detail">
        <div class="icon">{{ task.title | slice: 0:1 }}</div>
        <h5>{{ task.title }}</h5>
        <p>{{task.description}}</p>

        <hr>
        <div class="float-right">
            <i class="fa fa-pencil" aria-hidden="true" (click)="editTask(task)"></i>
            <i class="fa fa-trash-o ml-2" aria-hidden="true" (click)="deleteTask(task.id, task.title, 'high', i)"></i>
        </div>
        <div class="card-text fs-small" *ngIf="task.due_date">Due date:
            {{task.due_date}}
        </div> {{task.id}}
        <div class="drag-me"></div>
    </div>
</div>