<div class="product-item" [ngClass]="borderColor" *ngFor="let task of tasks; let i = index" cdkDrag [cdkDragData]="task">

    <div class="product-list-detail">
        <div class="p-grid">
            <div class="p-col-12 p-md-10">
        <h4>{{ task.title }}</h4>


       <h5>{{task.project_name }}</h5> 

       
    </div>

    <div class="p-col-12 p-md-12">

        <div class="clearfix"></div>
        <p class="small date">
            {{task.employee_id}} | {{task.created_at}}
         
    
        </p>
    
    </div>
    <div class="p-col-12 p-md-12">

        <hr class="full">


        <button type="button" (click)="editTask(task)" class="p-button p-button-small p-button-success p-mr-2" pButton icon="fa fa-pencil" *ngIf="edit == true" label="modifica"></button>
        <button type="button" (click)="viewTask(task)" class="p-button p-button-small p-button-primary p-mr-2" pButton icon="fa fa-eye" label="visualizza"></button>
        <button type="button" (click)="deleteTask(task.id, task.title, 'high', i)" class="p-button p-button-small  p-button-danger" pButton *ngIf="cancel == true" icon="fa fa-trash-o" label="cancella"></button>

       

    </div>
    
    </div>
</div>
</div>