<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="p-col-12">

            <div class="p-field p-grid" *ngFor="let col of cols" [ngSwitch]="col.field">
                <div class="p-col-12">

                    <p-dropdown *ngSwitchCase="'title'" placeholder="Scegli" [showClear]="true" optionLabel="name"
                        optionValue="name" [options]="appointmenttype" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')">
                    </p-dropdown>

                    <p-dropdown *ngSwitchCase="'category_id'" filter="true" [required]="true" placeholder="Scegli"
                        placeholder="Scegli" [showClear]="true" optionLabel="username" optionValue="id"
                        [options]="clients" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')">

                        <ng-template let-option pTemplate="item">

                            {{option.name}} {{option.surname}}

                        </ng-template>

                    </p-dropdown>

                </div>

            </div>

            <div class="p-grid">
                <div class="p-col-12">

                    <button pButton pRipple label="reset ricerca" class="p-button p-button-primary btn-block"
                        (click)="dt.reset()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<div class="top-main-wrapper">

    <div class="dash-header">
        <div class="dash-title">
    
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-6">
                    <h3>Appuntamenti</h3>
                </div>
                <div class="p-col-12 p-md-6">
                    <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/appointments/create']" label="Aggiungi"
                        class="p-button p-button-primary pull-right"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Esporta" (click)="exportPdf()"
                        class="p-button-warning p-mr-2 pull-right"  tooltipPosition="bottom"></button>
                    <button type="text" pButton label="Filter" icon="pi pi-filter"
                        class="p-button p-button-secondary p-mr-2 pull-right" (click)="op.toggle($event)"></button>
    
    
    
                </div>
            </div>
    
        </div>
    </div>
</div>
<div class="main-inner">


<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">

            <p-card>
                <p-table #dt [value]="appointments" [pageLinks]="3" [responsive]="true" (onLazyLoad)="loadmore($event)"
                    [globalFilterFields]="['title','status','category.name']" [loading]="loading" [paginator]="true" [rows]="15"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [totalRecords]="true">

                    <ng-template pTemplate="header">
                        <tr>

                            <th width="150px">Data

                            </th>

                            <th width="100px">Ora

                            </th>
                            <th>Tipo Intervento

                            </th>
                            <th width="50">Data

                            </th>
                            <th>Utente</th>
                            <th>Residenza</th>

                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-appointment>
                        <tr>
                            <td><strong>{{appointment.date | date:'dd/MM/yyyy'}}</strong><br>
                            <td>

                                <p-tag value="{{appointment.date | date: 'HH:mm' }}" severity="warning"></p-tag>

                            </td>
                            <td> {{appointment.title}}</td>

                            <td width="50">
                                <app-initials-avatar (click)="editProduct(appointment)"
                                    firstName="{{ getCategoryItem(appointment.category_id)?.name | slice:0:1}}"
                                    lastName="{{ getCategoryItem(appointment.category_id)?.surname | slice:0:1}}">
                                </app-initials-avatar>
                            </td>
                            <td>

                                {{ getCategoryItem(appointment.category_id)?.name }}
                                {{ getCategoryItem(appointment.category_id)?.surname }}
                            </td>

                            <td>

                                {{ getCategoryItem(appointment.category_id)?.city }}
                            </td>

                            <td class="action">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2"
                                    [routerLink]="['/admin/appointments/edit', appointment.id]"></button>
                                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-info p-mr-2"
                                    (click)="editProduct(appointment)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2"
                                    (click)="onDelete(appointment.id)"></button>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>

</div>

<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'50%'}">
    <ng-template pTemplate="content">
        <div class="p-col-12 p-md-12">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <strong>{{appointment.date | date:'dd/MM/yyyy HH:mm'}}</strong>

                        <h3>{{appointment.title}}</h3>

                        {{ getLocationItem(appointment.location_id)?.name }}
                        <br> {{ getEmployeeItem(appointment.employee_id)?.name }}

                        <p [innerHTML]="appointment.description"></p>

                    </div>
                    <div class="p-col-12 p-md-6">

                        <div *ngFor="let item of selectedWorks">
                            {{ getWorksItem(item)?.name }}
                        </div>

                    </div>

                </div>            <div class="clearfix"></div><br>

                <button pButton pRipple icon="pi pi-pencil" label="modifica Appuntamento"
                    class="p-button p-button-success p-mr-2"
                    [routerLink]="['/admin/appointments/edit', appointment.id]"></button>

            </p-card>
        </div>
        <div class="clearfix"></div><br>
        <div class="clearfix"></div>
        <div class="p-col-12 p-md-12">

            <p-card>
                <strong>{{ getCategoryItem(appointment.category_id)?.name }}
                    {{ getCategoryItem(appointment.category_id)?.surname }}</strong>

                <p>{{ getCategoryItem(appointment.category_id)?.address }}<br>
                    {{ getCategoryItem(appointment.category_id)?.zip }} -
                    {{ getCategoryItem(appointment.category_id)?.city }}
                    ({{ getCategoryItem(appointment.category_id)?.province }})<br>
                </p>
                <hr>
                <p>{{ getCategoryItem(appointment.category_id)?.phone }}<br>
                    {{ getCategoryItem(appointment.category_id)?.email }}</p>
                    <div class="clearfix"></div><br>

                <button pButton pRipple icon="pi pi-pencil" label="Modifica Dati Cliente"
                    class="p-button p-button-primary p-mr-2"
                    [routerLink]="['/admin/clients/edit', appointment.category_id]"></button>
            </p-card>
        </div>

    </ng-template>

</p-sidebar>

{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" #cd>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" class="p-button p-button-danger p-mr-2" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa fa-check" class="p-button p-button-success p-mr-2" label="Si" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>

<!-- <ngx-spinner
      bdColor="rgba(51,51,51,0.2)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
    >
    </ngx-spinner> -->