

<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

    <div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-9">
                <h3>{{pageTitle}}</h3>
            </div>
            <div class="p-col-12 p-md-3">

                <button pButton pRipple icon="pi pi-save" label="salva" class="p-button pull-right p-button-success p-mr-2" [disabled]="!blogForm.valid"></button>


            </div>
        </div>

    </div>
</div>

    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-12 p-md-8">

                <p-card>

                    <div class="blog-form">

               

                        <p-tabView>
                            <p-tabPanel header="Informazioni">

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nome Prodotto<span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                            <input type="text" [style]="{ width: '100%' }" pInputText formControlName="title" >



                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Codice <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-5">
                                                <input type="text" [style]="{ width: '100%' }" pInputText formControlName="code" >
                                            </div>
                                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Codice int</label>
                                                    <div class="p-col-4 p-md-5">

                                                <input type="text" [style]="{ width: '100%' }" pInputText formControlName="code_int" >
                                                    </div>


                                            </div>


                                            

                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">

                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Marca <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                            
                                            <p-dropdown [options]="brands" [virtualScroll]="true" filter="true" [showClear]="true" placeholder="Scegli" [style]="{ width: '100%' }" formControlName="brand_id" optionLabel="name" optionValue="name">


                                            </p-dropdown>


                                        </div>
                                    </div>
                                </div>


                                

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">In evidenzia <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="radio" formControlName="is_featured" value="1" /> {{'yes' | translate}}
                                            <input type="radio" formControlName="is_featured" value="0" /> {{'no' | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Attivo <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">
                                            <input type="radio" formControlName="is_active" value="1" /> {{'yes' | translate}}
                                            <input type="radio" formControlName="is_active" value="0" /> {{'no' | translate}}
                                        </div>
                                    </div>
                                </div>



                               

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Descrizione <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                           

                                            <textarea pInputTextarea formControlName="description" ></textarea>




                                        </div>
                                    </div>
                                </div>


                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Descrizione completa <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                           

                                            <textarea pInputTextarea formControlName="description_full" ></textarea>




                                        </div>
                                    </div>
                                </div>

                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Tipo di Lavorazione <span
                                                class="required">*</span></label>
                                        <div class="p-col-12 p-md-10">

                                            <p-multiSelect [options]="works" display="chip" formControlName="works_id" [(ngModel)]="selectedWorks" optionLabel="name" optionValue="id">
                                            </p-multiSelect>                                           





                                        </div>
                                    </div>
                                </div>

                           


                                <div class="form-group form-row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <input type="hidden" formControlName="id">


                                    </div>
                                </div>




                            </p-tabPanel>

                            <p-tabPanel header="Allegati">
                                
                            </p-tabPanel>


                       
                        </p-tabView>


                    </div>
               
                </p-card>

            </div>
           
            <div class="p-col-12 p-md-4">
                <p-card>

                    <div class="p-fluid">
                        <div class="p-field p-grid">

                            <div class="p-col-12 p-md-12">
                                <input #myInput type="file" id="image" (change)="onSelectedFile($event)" />
                                <div [innerHTML]="uploadError" class="error"></div>
                                <div *ngIf="imagePath">
                                    <br />
                                    <span class="image-container">
                                        <img [src]="imagePath" width="300px">

                                        <button pButton pRipple icon="pi pi-trash"
                                            class="imgcancel p-button p-button-primary p-mr-2"
                                            (click)="removeImageFile($event)"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-card>

              


            </div>
        </div>

    </div>
</form>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
    </p-confirmDialog>

    
<p-toast key="myKey1"></p-toast>