
<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="p-col-12">

            <div class="p-field p-grid" *ngFor="let col of cols" [ngSwitch]="col.field">
                <div class="p-col-12">

                    <p-dropdown *ngSwitchCase="'category_id'" filter="true" [required]="true" placeholder="Cliente"  [showClear]="true" optionLabel="username"
                        optionValue="id" [options]="clients" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')">

                        <ng-template let-option pTemplate="item">

                            {{option.name}} {{option.surname}}

                        </ng-template>

                    </p-dropdown>

                    <input *ngSwitchCase="'id'" [ngModel]="dt.filters['id']? dt.filters['id'].value : ''" 
                    placeholder="{{col.header}}" pInputText type="text" [style]="{ width: '100%' }" (input)="dt.filter($event.target.value, col.field, 'contains')">


                </div>

            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<div class="dash-header">
    <div class="dash-title">

        <div class="p-field p-grid">
            <div class="p-col-10 p-md-6">
                <h3>Fatture</h3>
            </div>
            <div class="p-col-2 p-md-6">
               
                <button pButton pRipple icon="pi pi-plus" [routerLink]="['/admin/billings/create']" label="Aggiungi" class="p-button p-button-primary pull-right"></button>

                <button type="text" pButton label="Filter" icon="pi pi-filter"
                class="p-button p-button-secondary p-mr-2 pull-right" (click)="op.toggle($event)"></button>

            </div>
        </div>
    </div>
</div>



<div class="p-fluid">
    <div class="p-field p-grid">
        <div class="p-col-12 p-md-12">

            <p-card>
                <p-table #dt [value]="billings" editMode="row" [globalFilterFields]="['title','status','category.name']" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [totalRecords]="true">
                   
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Stato</th>

                            <th width="80px">Numero

                            </th>
                            <th>Data emissione</th>
                            <th width="50"></th>

                            <th>Cliente</th>
                            <th>Residente</th>

                            <th>Prezzo</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-billing>
                        <tr>
                            <td>
                                <p-tag severity="success" *ngIf="billing.is_paid === '1'" (click)="closeBilling(billing)" value="Pagata"
                                    class="p-mr-2"></p-tag>
                                <p-tag severity="danger" *ngIf="billing.is_paid === '0'" (click)="openBilling(billing)" value="non pagata"
                                    class="p-mr-2"></p-tag>
                            </td>
                            <td>{{billing.id}}</td>

                            <td><i class="pi pi-calendar"></i> {{billing.date}}
                            </td>

                            <td width="50">

                                <app-initials-avatar  [routerLink]="['/admin/clients/edit', getCategoryItem(billing.category_id)?.id]" firstName="{{ getCategoryItem(billing.category_id)?.name | slice:0:1}}" lastName="{{ getCategoryItem(billing.category_id)?.surname | slice:0:1}}"></app-initials-avatar>

                               
                            </td>

                            <td>

                                {{ getCategoryItem(billing.category_id)?.name }}
                                {{ getCategoryItem(billing.category_id)?.surname }}
                            </td>

                            <td>{{
                                getCategoryItem(billing.category_id)?.zip }} - {{
                                getCategoryItem(billing.category_id)?.city }}</td>
                            <td>{{billing.total | currency :'EUR':'symbol':'1.2-2'}}</td>


                          

                            <td class="action">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/billings/edit', billing.id]"></button>
                                <button pButton pRipple icon="pi pi-eye" class="p-button p-button-primary p-mr-2" (click)="edit(billing)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger p-mr-2" (click)="onDelete(billing.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>

        
    </div>
</div>
<p-sidebar [(visible)]="productDialog" position="right" [style]="{width:'60em'}">
    <ng-template pTemplate="content">
   
<div id="content" #content>

    <div class="p-col-12 p-md-12">
        <p-card>
            <app-initials-avatar class="pull-right"  [routerLink]="['/admin/clients/edit', getCategoryItem(billing.category_id)?.id]" firstName="{{ getCategoryItem(billing.category_id)?.name | slice:0:1}}" lastName="{{ getCategoryItem(billing.category_id)?.surname | slice:0:1}}"></app-initials-avatar>

            <h3>Dettaglio Fattura {{billing.id}}</h3>
            <p-tag severity="default" value="{{billing.date}}"  class="p-mr-2"></p-tag>

            <p-tag severity="success" *ngIf="billing.is_paid === '1'" class="p-mr-2"  value="Pagata"
            class="p-mr-2"></p-tag>
        <p-tag severity="danger" *ngIf="billing.is_paid === '0'" class="p-mr-2"  value="non pagata"
            class="p-mr-2"></p-tag>

            <hr class="full">

                <strong>{{ getCategoryItem(billing.category_id)?.username }}</strong><br>
                {{ getCategoryItem(billing.category_id)?.address }} - {{ getCategoryItem(billing.category_id)?.zip }} {{ getCategoryItem(billing.category_id)?.city }} <br>
                {{ getCategoryItem(billing.category_id)?.phone }}

        </p-card>
<p-card>
       
    <table class="billings-list">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>qty</th>
                <th>Totale</th>

            </tr>
        </thead>
        <tr *ngFor="let entry of selectedSkills | keys">           
            <td>{{entry.value.description}}</td>  <td>{{entry.value.price}}</td> <td>{{entry.value.qty}}</td><td> {{entry.value.qty * entry.value.price | currency :'EUR':'symbol':'1.2-2'}}</td>
          </tr>
   
             <tr>
                                    <td colspan="3">
                                       Total senza Iva
                                    </td>

                                    <td>
                                       <h4>
                                            {{billing.subtotal | currency :'EUR':'symbol':'1.2-2'}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        Valore Iva
                                    </td>
                                    <td>{{billing.vat | currency :'EUR':'symbol':'1.2-2'}}</td>
                                </tr>

                                <tr>
                                    <td colspan="3">
                                        Totale
                                    </td>
                                    <td>
                                        <h3>
                                            {{billing.total | currency :'EUR':'symbol':'1.2-2'}}</h3>
                                    </td>
                                </tr>
                        
        </table>
                                <button pButton pRipple icon="pi pi-pencil" label="modifica" class="p-button p-button-success p-mr-2" [routerLink]="['/admin/billings/edit', billing.id]"></button>
                            </p-card>
    </div>
</div>
    </ng-template>

</p-sidebar>



{{error}}

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-toast key="myKey1"></p-toast>